tr.tr-align-middle th,
tr.tr-align-middle td {
    vertical-align: middle;
}

.table-leaderboard th:nth-child(1),
.table-leaderboard td:nth-child(1) {
    width: 1%;
    white-space: nowrap;
    padding-right: 0;
}

.w-col-min {
    width: 1%;
    white-space: nowrap;
}

.table-leaderboard .row-small th,
.table-leaderboard .row-small td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.table-leaderboard thead tr th {
    vertical-align: middle;
}

.table-leaderboard td[data-key=identifier] {
    max-width: 40%;
    min-width: 300px;
    position: relative;
}

.table-leaderboard td[data-key=identifier] > div {
    position: absolute;
    max-width: calc(100% - .75rem);
    top: 50%;
    transform: translateY(-50%);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-leaderboard tr.tr-align-middle {
    transition: transform .1s ease-out, shadow .1s ease-out;
}

.table-leaderboard tr.tr-align-middle:hover > :first-child,
.table-leaderboard tr.tr-align-middle:hover > :last-child,
.table-leaderboard tr.tr-align-middle:focus-within > :first-child,
.table-leaderboard tr.tr-align-middle:focus-within > :last-child {
    border-radius: .5rem;
}

.table-leaderboard tr.tr-align-middle:hover,
.table-leaderboard tr.tr-align-middle:focus-within {
    transform: scale(1.01);
    background: #fff;
    box-shadow: 0 1px 3px 1px hsla(210, 16%, 86%, 1);
    border-radius: .5rem;
}

.table-leaderboard .btn-row-hidden {
    opacity: 0;
    transform: translateX(-10px);
    transition: transform .1s ease-out, opacity .1s ease-out;
}

.table-leaderboard tr:hover .btn-row-hidden,
.table-leaderboard tr .btn-row-hidden:focus,
.table-leaderboard tr .btn-row-hidden:active {
    opacity: 1;
    transform: initial;
}

.table-leaderboard tr.tr-align-middle:hover > td,
.table-leaderboard tr.tr-align-middle:hover > th {
    border-color: #fff;
}

.dl-container dl.row:last-child,
.dl-container dl.row > dd {
    margin-bottom: 0;
}