{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/partials/feedback

  VPL CC module template used to include feedback modals in pages.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<style>
#vplccFeedback .list-group-item i.fa-2x {
    width: 30px;
    text-align: center;
}
#vplccFeedback .modal-header > img.icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}
</style>

<div class="modal fade" id="vplccFeedback" tabindex="-1" role="dialog" aria-labelledby="vplccFeedbackLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded">
            <div class="modal-header d-flex align-items-center pr-4">
                {{#pix}}icon,mod_vplcc{{/pix}}
                <div>
                    <small class="text-muted text-uppercase">{{#str}}messages.feedback.subtitle,mod_vplcc{{/str}}</small>
                    <h4 class="modal-title m-0" id="vplccFeedbackLabel" style="line-height: 1.1;">
                        {{#str}}modulenameplural,mod_vplcc{{/str}}
                        <small class="badge badge-secondary rounded font-weight-normal" title="{{#str}}messages.feedback.indicator.version,mod_vplcc{{/str}}" data-toggle="tooltip" data-placement="bottom">
                            {{#config}}mod_vplcc,version{{/config}}
                        </small>
                    </h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body pb-0">
                <p>{{#str}}messages.feedback.lead,mod_vplcc{{/str}}</p>

                <div class="list-group">

                    <a href="{{#feedback.form}}{{feedback.form}}{{/feedback.form}}{{^feedback.form}}#{{/feedback.form}}"
                       target="_blank" class="list-group-item list-group-item-action {{#feedback.form}}d-flex{{/feedback.form}} align-items-center border rounded p-3 mb-2{{^feedback.form}} d-none{{/feedback.form}}"
                    >
                        <i class="fa fa-2x fa-bullhorn mr-3" aria-hidden="true"></i>
                        <div class="mr-auto">
                            <h5 class="h6 mb-1 font-weight-normal">{{#str}}messages.feedback.form.title,mod_vplcc{{/str}}{{^feedback.form}}<span class="ml-3 label label-primary rounded">coming soon!</span>{{/feedback.form}}</h5>
                            <p class="font-weight-light mb-0">{{#str}}messages.feedback.form.description,mod_vplcc{{/str}}</p>
                        </div>
                    </a>

                    <a href="{{#feedback.discussion}}{{feedback.discussion}}{{/feedback.discussion}}{{^feedback.discussion}}#{{/feedback.discussion}}"
                       target="_blank" class="list-group-item list-group-item-action d-flex align-items-center border rounded p-3 mb-2{{^feedback.discussion}} disabled{{/feedback.discussion}}"
                    >
                        <i class="fa fa-2x fa-comments mr-3" aria-hidden="true"></i>
                        <div class="mr-auto">
                            <h5 class="h6 mb-1 font-weight-normal">{{#str}}messages.feedback.mattermost.title,mod_vplcc{{/str}}{{^feedback.discussion}}<span class="ml-3 label label-primary rounded">coming soon!</span>{{/feedback.discussion}}</h5>
                            <p class="font-weight-light mb-0">{{#str}}messages.feedback.mattermost.description,mod_vplcc{{/str}}</p>
                        </div>
                        <i class="fa fa-lock text-secondary ml-3" aria-hidden="true" title="{{#str}}messages.feedback.indicator.restricted,mod_vplcc{{/str}}"></i>
                        <i class="fa fa-external-link text-secondary ml-2" aria-hidden="true" title="{{#str}}messages.feedback.indicator.external_tool,mod_vplcc{{/str}}"></i>
                    </a>

                    <a href="{{#feedback.issues}}{{feedback.issues}}{{/feedback.issues}}{{^feedback.issues}}#{{/feedback.issues}}"
                       target="_blank" class="list-group-item list-group-item-action d-flex align-items-center border rounded p-3 mb-2{{^feedback.issues}} disabled{{/feedback.issues}}"
                    >
                        <i class="fa fa-2x fa-bug mr-3" aria-hidden="true"></i>
                        <div class="mr-auto">
                            <h5 class="h6 mb-1 font-weight-normal">{{#str}}messages.feedback.issues.title,mod_vplcc{{/str}}{{^feedback.issues}}<span class="ml-3 label label-primary rounded">coming soon!</span>{{/feedback.issues}}</h5>
                            <p class="font-weight-light mb-0">{{#str}}messages.feedback.issues.description,mod_vplcc{{/str}}</p>
                        </div>
                        <i class="fa fa-gitlab ml-3 text-secondary" aria-hidden="true" title="{{#str}}messages.feedback.indicator.external_tool,mod_vplcc{{/str}}"></i>
                    </a>

                    <a href="{{#feedback.wiki}}{{feedback.wiki}}{{/feedback.wiki}}{{^feedback.wiki}}#{{/feedback.wiki}}"
                       target="_blank" class="list-group-item list-group-item-action d-flex align-items-center border rounded p-3 mb-3{{^feedback.wiki}} disabled{{/feedback.wiki}}"
                    >
                        <i class="fa fa-2x fa-book mr-3" aria-hidden="true"></i>
                        <div class="mr-auto">
                            <h5 class="h6 mb-1 font-weight-normal">{{#str}}messages.feedback.documentation.title,mod_vplcc{{/str}}{{^feedback.wiki}}<span class="ml-3 label label-primary rounded">coming soon!</span>{{/feedback.wiki}}</h5>
                            <p class="font-weight-light mb-0">{{#str}}messages.feedback.documentation.description,mod_vplcc{{/str}}</p>
                        </div>
                        <i class="fa fa-gitlab ml-3 text-secondary" aria-hidden="true" title="{{#str}}messages.feedback.indicator.external_tool,mod_vplcc{{/str}}"></i>
                    </a>
                </div>

                <svg class="d-block mx-auto" style="width: 300px;" viewBox="0 0 930 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Group">
                            <path d="M692,362 C692,362 720,258 664,151" id="Path" stroke="#E0E0E0" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0"></path>
                            <path d="M300.59,350.5 L300.59,350.5" id="Path" stroke="#E0E0E0" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M308.1,328.14 C317.98,287.78 320.93,203.64 190.44,167.92" id="Path" stroke="#E0E0E0" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0"></path>
                            <path d="M179,165 L179,165" id="Path" stroke="#E0E0E0" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M153.33,355.5 L153.33,355.5" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M155.59,332.75 C156.35,311.13 153.71,278.81 134.81,257.34" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0"></path>
                            <path d="M126.5,249.5 L126.5,249.5" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M605.33,364.5 L605.33,364.5" id="Path" stroke="#E0E0E0" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M607.59,341.75 C608.35,320.13 605.71,287.81 586.81,266.34" id="Path" stroke="#E0E0E0" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0"></path>
                            <path d="M578.5,258.5 L578.5,258.5" id="Path" stroke="#E0E0E0" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M797.67,355.5 L797.67,355.5" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M795.41,332.75 C794.65,311.13 797.29,278.81 816.19,257.34" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0"></path>
                            <path d="M824.5,249.5 L824.5,249.5" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <rect id="Rectangle" fill="var(--info)" fill-rule="nonzero" opacity="0.7" x="0" y="114.78" width="111" height="60.43"></rect>
                            <rect id="Rectangle" fill="var(--info)" fill-rule="nonzero" opacity="0.7" x="608" y="73.78" width="111" height="60.43"></rect>
                            <rect id="Rectangle" fill="var(--info)" fill-rule="nonzero" opacity="0.7" x="513" y="181.78" width="111" height="60.43"></rect>
                            <rect id="Rectangle" fill="var(--info)" fill-rule="nonzero" x="83" y="127.58" width="180.78" height="98.41"></rect>
                            <rect id="Rectangle" fill="var(--info)" fill-rule="nonzero" x="749.22" y="132.58" width="180.78" height="98.41"></rect>
                            <rect id="Rectangle" fill="var(--info)" fill-rule="nonzero" x="339.71" y="0" width="180.78" height="98.41"></rect>
                            <path d="M414,354.5 L414,354.5" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M422.82,332.21 C428.95,310.85 432.94,276.72 413.5,241.49 C389.5,197.98 411.08,155.59 423.35,137.13" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0"></path>
                            <path d="M430.5,127.5 L430.5,127.5" id="Path" stroke="#BDBDBD" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>