{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/partials/navigation

  VPL CC module navigation.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<div class="d-block mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item mr-1">
            <a class="nav-link{{#navigation.description_active}} active{{/navigation.description_active}}" href="{{ navigation.description_url }}">
                <i class="fa fa-cube mr-1" aria-hidden="true"></i>{{#str}}navigation:overview,mod_vplcc{{/str}}
            </a>
        </li>

        <li class="nav-item mr-auto">
            <a class="nav-link{{#navigation.leaderboard_active}} active{{/navigation.leaderboard_active}}" href="{{ navigation.leaderboard_url }}">
                <i class="fa fa-trophy mr-1" aria-hidden="true"></i>{{#str}}navigation:leaderboard,mod_vplcc{{/str}}
            </a>
        </li>

        {{#feedback.show}}
            <li class="nav-item py-2 mr-3 text-muted">
                <a href="#" class="text-warning" data-toggle="modal" data-target="#vplccFeedback" ><i class="fa fa-bullhorn mr-1" aria-hidden="true"></i>{{#str}}messages.feedback.call_to_action,mod_vplcc{{/str}}</a>
            </li>
        {{/feedback.show}}

        {{#navigation.lastupdate}}
            <li class="nav-item py-2 text-muted">
                {{#str}}navigation:lastupdate,mod_vplcc{{/str}} {{#userdate}}{{ navigation.lastupdate }}, {{#str}} strftimedaydatetime {{/str}}{{/userdate}}
            </li>
        {{/navigation.lastupdate}}
    </ul>
</div>
