{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/partials/navigation_external

  VPL CC module navigation that could be included in activity pages attached to a mod_vplcc activity.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<div class="card d-block bg-light border-bottom-0 mb-3">
    <div class="card-header d-flex align-items-center border-bottom-0 bg-transparent">
        <div>
            <small class="text-muted text-uppercase mb-1">This activity is part of a code challenge</small>
            <h2 class="h3 mb-0">{{ vplcc.name }}</h2>
        </div>
        <div class="ml-auto">
            <div id="cog"></div>
            <a href="#" class="btn btn-secondary"><i class="fa fa-question-circle mr-1" aria-hidden="true"></i>Help</a>
        </div>
    </div>
    <div class="card-header border-bottom bg-transparent">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item mr-1">
                <a class="nav-link active" href="#"><i class="fa fa-cube mr-1" aria-hidden="true"></i>Description</a>
            </li>
            <li class="nav-item mr-1">
                <a class="nav-link" href="#"><i class="fa fa-file-code-o mr-1" aria-hidden="true"></i>VPL activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-trophy mr-1" aria-hidden="true"></i>Leaderboard</a>
            </li>
        </ul>
    </div>
</div>
