{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/partials/pagination

  VPL CC module pagination navigation partial

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
{{#pagination.enabled}}

    <nav aria-label="Leaderboard page navigation">
        <ul class="pagination">
            <li class="page-item{{^pagination.prev}} disabled{{/pagination.prev}}">
                <a class="page-link"
                   href="{{#pagination.prev}}{{ pagination.prev }}{{/pagination.prev}}{{^pagination.prev}}#{{/pagination.prev}}"
                   aria-label="{{#str}}previous{{/str}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {{#pagination.pages}}

                <li class="page-item{{#current}} active{{/current}}">
                    <a class="page-link"
                       href="{{#current}}#{{/current}}{{^current}}{{ link }}{{/current}}"
                       aria-label="{{ page }}">
                        {{ page }}
                    </a>
                </li>

            {{/pagination.pages}}

            <li class="page-item{{^pagination.next}} disabled{{/pagination.next}}">
                <a class="page-link"
                   href="{{#pagination.next}}{{ pagination.next }}{{/pagination.next}}{{^pagination.next}}#{{/pagination.next}}"
                   aria-label="{{#str}}next{{/str}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

{{/pagination.enabled}}