{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/partials/summary

  VPL CC module summary partial used to display metadata for challenges.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<a href="{{ activity_url }}" target="_blank" class="btn btn-primary btn-block d-flex align-items-center mb-2">
    <i class="fa fa-code ml-auto mr-1" aria-hidden="true"></i>
    <span>{{#str}}summary:call_to_action,vplcc{{/str}}</span>
    <i class="fa fa-external-link small ml-auto" aria-hidden="true"></i>
</a>

{{#vpl}}

    {{#instance}}

        <style>
            .card .h6 > .icon {
                vertical-align: top;
            }
        </style>

        <div class="card mb-2">
            <div class="card-body py-2 px-3">
                <p class="small text-uppercase text-muted text-muted font-weight-bold mb-1">{{#str}}summary:partof,vplcc{{/str}}</p>
                <a href="{{ activity_url }}" class="d-flex align-items-start mb-2">
                    <div class="h6 m-0">{{#pix}}icon,{{pix_module}}{{/pix}}</div>
                    <h3 class="m-0 h6 font-weight-normal">{{ name }}</h3>
                </a>

                {{^groups.enabled}}
                    <div class="d-flex align-items-start">
                        <div class="h6 m-0"><i class="icon fa fa-user"></i></div>
                        <p class="m-0 h6 font-weight-normal">{{#str}}summary:individual,vplcc{{/str}}</p>
                    </div>
                {{/groups.enabled}}

                {{#groups.enabled}}
                    <div class="d-flex align-items-start">
                        <div class="h6 m-0"><i class="icon fa fa-users"></i></div>
                        <p class="m-0 h6 font-weight-normal">{{#str}}summary:grouped,vplcc{{/str}}</p>
                    </div>
                {{/groups.enabled}}
            </div>

            {{#groups.enabled}}
                <div class="card-footer py-2 px-3 mt-1">
                    {{#groups.current_group}}
                        <p class="small text-uppercase text-muted text-muted mb-0"><small class="font-weight-bold">{{#str}}summary:memberof,vplcc{{/str}}</small></p>
                        <div class="d-flex align-items-start">
                            <p class="m-0 h6 font-weight-normal">{{ groups.current_group }}</p>
                        </div>
                    {{/groups.current_group}}
                    {{^groups.current_group}}
                        <div class="d-flex align-items-center text-danger small">
                            <div class="h6 m-0"><i class="icon fa fa-warning"></i></div>
                            <p class="m-0">{{#str}}summary:nogroup,vplcc{{/str}}</p>
                        </div>
                    {{/groups.current_group}}
                </div>
            {{/groups.enabled}}
        </div>

        {{#startdate}}
            <div class="card mb-2">
                <div class="card-body py-2 px-3">
                    <p class="small text-uppercase text-muted text-muted font-weight-bold mb-1">{{#str}}summary:start,mod_vplcc{{/str}}</p>
                    <div class="d-flex align-items-start">
                        <div class="h6 m-0"><i class="icon fa fa-calendar-o"></i></div>
                        <p class="m-0 h6 font-weight-normal">{{#userdate}} {{ startdate }}, {{#str}} strftimedaydatetime {{/str}} {{/userdate}}</p>
                    </div>
                </div>
            </div>
        {{/startdate}}

        {{#duedate}}
            <div class="card mb-2">
                <div class="card-body py-2 px-3">
                    <p class="small text-uppercase text-muted text-muted font-weight-bold mb-1">{{#str}}summary:due,mod_vplcc{{/str}}</p>
                    <div class="d-flex align-items-start">
                        <div class="h6 m-0"><i class="icon fa fa-flag-checkered"></i></div>
                        <p class="m-0 h6 font-weight-normal">{{#userdate}} {{ duedate }}, {{#str}} strftimedaydatetime {{/str}} {{/userdate}}</p>
                    </div>
                </div>
            </div>
        {{/duedate}}

    {{/instance}}
{{/vpl}}
