{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/pages/index

  VPL CC module index template used to list all vplcc activities in a course.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
{{< mod_vplcc/layout }}

{{$ base_content }}

    <div class="card border-top-0">
        <table class="table table-hover mb-0">
            <thead>
                <tr class="bg-light">
                    <th scope="col">{{#str}}index:table:id,mod_vplcc{{/str}}</th>
                    <th scope="col">{{#str}}index:table:name,mod_vplcc{{/str}}</th>
                    <th scope="col">{{#str}}index:table:created,mod_vplcc{{/str}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>

                {{# course_modules }}
                    <tr>
                        <th scope="row">{{ id }}</th>
                        <td>{{ name }}</td>
                        <td>{{#userdate}} {{ added }}, {{#str}} strftimedaydatetime {{/str}} {{/userdate}}</td>
                        <td class="text-right"><a href="{{ url }}">{{#str}}index:table:view,mod_vplcc{{/str}}<i class="fa fa-external-link ml-1"></i></a></td>
                    </tr>
                {{/ course_modules }}

                {{^ course_modules }}
                    <tr>
                        {{#str}}index:table:empty,mod_vplcc{{/str}}
                    </tr>
                {{/ course_modules }}

            </tbody>
        </table>
    </div>

{{/ base_content }}

{{/ mod_vplcc/layout }}