{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/pages/leaderboard

  VPL CC module leaderboard template used to display a leaderboard.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
{{< mod_vplcc/activity_base }}

    {{$ content }}

        {{#countdown}}

            {{> mod_vplcc/partials/leaderboard/countdown }}

        {{/countdown}}

        {{^countdown}}

            {{#scopes.can_switch}}

                {{> mod_vplcc/partials/leaderboard/scope_selection }}

            {{/scopes.can_switch}}

            {{#empty}}

                {{> mod_vplcc/partials/leaderboard/empty }}

            {{/empty}}

            {{^empty}}

                {{> mod_vplcc/partials/leaderboard/list }}

            {{/empty}}

        {{/countdown}}

    {{/ content }}

{{/ mod_vplcc/activity_base }}
