{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/pages/view

  VPL CC module view template used to display a challenge introduction.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
{{< mod_vplcc/activity_base }}

    {{$ content }}

        <div class="row">

            <div class="col-8">
                {{#format}} {{{ vplcc.intro }}}, {{ vplcc.introformat }} {{/format}}

                {{#format}} {{{ content.instructions }}}, {{ content.instructionsformat }} {{/format}}

                {{#format}} {{{ content.specifications }}}, {{ content.specificationsformat }} {{/format}}
            </div>

            <div class="col-4">

                {{> mod_vplcc/partials/summary }}

            </div>

        </div>

    {{/ content }}

{{/ mod_vplcc/activity_base }}