{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/forms/dimensions_header

  VPL CC module template used to display the dimensions header in mod_form.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<div class="form-group row fitem mt-4">
    <div class="col-md-9">
        <div class="d-flex align-items-center mb-1">
            <h4 class="mb-1">{{#str}}mod_form:leaderboard:header:title,mod_vplcc{{/str}} </h4>
            <small class="label rounded ml-2">{{#str}}mod_form:leaderboard:header:tag,mod_vplcc{{/str}}</small>
        </div>
        <p class="mb-2">{{#str}}mod_form:leaderboard:header:lead,mod_vplcc{{/str}}</p>
        <p><a target="_blank" href="https://pavril.github.io/vpl-code-challenges-docs/#/advanced/configuration-kitchen-sink?id=leaderboard-dimensions" ><i class="fa fa-book mr-1"></i>{{#str}}mod_form:leaderboard:header:docs,mod_vplcc{{/str}}</a></p>
    </div>
</div>
<div class="form-group row fitem">
    <div class="col-md-3">
        <span class="float-sm-right text-nowrap"></span>
        <p class="col-form-label d-inline" aria-hidden="true" style="cursor: default;">{{#str}}mod_form:leaderboard:header:dim:id,mod_vplcc{{/str}}</p>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="group">
        <fieldset class="w-100 m-0 p-0 border-0">
            <legend class="sr-only">{{#str}}mod_form:leaderboard:header:dim:id,mod_vplcc{{/str}}</legend>
            <div class="d-flex flex-wrap align-items-center">
                <div class="form-group fitem text-monospace d-block">
                    <label class="col-form-label sr-only">{{#str}}mod_form:leaderboard:dim:slug,mod_vplcc{{/str}}</label>
                    <span></span>
                    <span data-fieldtype="text">
                        <input disabled type="text" class="form-control" value="identifier" placeholder="{{#str}}mod_form:leaderboard:dim:slug,mod_vplcc{{/str}}" style="font-size: 90%; height: calc(1.65em + .75rem + 2px);">
                    </span>
                </div>
                &nbsp;
                <div class="form-group fitem d-block">
                    <label class="col-form-label sr-only">
                        {{#str}}mod_form:leaderboard:dim:name,mod_vplcc{{/str}}
                    </label>
                    <span></span>
                    <span data-fieldtype="text">
                        <input disabled type="text" class="form-control" value="{{#str}}mod_form:leaderboard:header:dim:id:name,mod_vplcc{{/str}}" placeholder="{{#str}}mod_form:leaderboard:dim:name,mod_vplcc{{/str}}">
                    </span>
                </div>
                &nbsp;
                <div class="form-group  fitem  d-block">
                    <label class="col-form-label sr-only">{{#str}}mod_form:leaderboard:dim:desc,mod_vplcc{{/str}}</label>
                    <span></span>
                    <span data-fieldtype="text">
                        <input disabled type="text" class="form-control font-italic" value="{{#str}}mod_form:leaderboard:header:dim:id:desc,mod_vplcc{{/str}}" placeholder="{{#str}}mod_form:leaderboard:dim:desc,mod_vplcc{{/str}}">
                    </span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="form-group row fitem">
    <div class="col-md-3">
        <span class="float-sm-right text-nowrap"></span>
        <p class="col-form-label d-inline" aria-hidden="true" style="cursor: default;">{{#str}}mod_form:leaderboard:header:dim:grade,mod_vplcc{{/str}}</p>
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="group">
        <fieldset class="w-100 m-0 p-0 border-0">
            <legend class="sr-only">{{#str}}mod_form:leaderboard:header:dim:grade,mod_vplcc{{/str}}</legend>
            <div class="d-flex flex-wrap align-items-center">
                <div class="form-group fitem text-monospace d-block">
                    <label class="col-form-label sr-only">{{#str}}mod_form:leaderboard:dim:slug,mod_vplcc{{/str}}</label>
                    <span></span>
                    <span data-fieldtype="text">
                        <input disabled type="text" class="form-control" value="grade" style="font-size: 90%; height: calc(1.65em + .75rem + 2px);">
                    </span>
                </div>
                &nbsp;
                <div class="form-group fitem d-block">
                    <label class="col-form-label sr-only">{{#str}}mod_form:leaderboard:dim:name,mod_vplcc{{/str}}</label>
                    <span></span>
                    <span data-fieldtype="text">
                        <input disabled type="text" class="form-control" value="{{#str}}mod_form:leaderboard:header:dim:grade:name,mod_vplcc{{/str}}" placeholder="Name">
                    </span>
                </div>
                &nbsp;
                <div class="form-group  fitem  d-block">
                    <label class="col-form-label sr-only">{{#str}}mod_form:leaderboard:dim:desc,mod_vplcc{{/str}}</label>
                    <span></span>
                    <span data-fieldtype="text">
                        <input disabled type="text" class="form-control font-italic" value="{{#str}}mod_form:leaderboard:header:dim:id:desc,mod_vplcc{{/str}}" placeholder="{{#str}}mod_form:leaderboard:dim:desc,mod_vplcc{{/str}}">
                    </span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
