{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/partials/leaderboard/countdown

  VPL CC module template used to display a leaderboard countdown notice.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<div class="m-auto py-3 text-center col-8">
    <h1 class="h3">{{#str}}leaderboard:countdown:title,mod_vplcc{{/str}}</h1>
    <p class="lead mb-3">{{#str}}leaderboard:countdown:lead,mod_vplcc{{/str}}</p>

    <p class="mb-5 d-inline-block py-2 px-3 bg-light rounded">{{#str}}leaderboard:countdown:availablefrom,mod_vplcc{{/str}}{{#userdate}}{{ countdown }}, {{#str}} strftimedaydatetime {{/str}}{{/userdate}}</p>

    <div class="mx-auto" style="width:400px;">{{> mod_vplcc/svg/leaderboard-countdown }}</div>
</div>
