{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/partials/leaderboard/list

  VPL CC module template used to display a leaderboard.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
{{#leaderboard.header.has.metadata}}
    <style>
        .dl-container > .form-group.row:last-child {
            margin-bottom: 0 !important;
        }
    </style>
{{/leaderboard.header.has.metadata}}

<div class="table-responsive-sm">
    <table class="table table-leaderboard border border-top-0">

        {{#leaderboard.header.has.columns}}
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="w-col-min"></th>
                    <th scope="col" class="w-col-min p-0"></th>

                    {{#leaderboard.header.columns}}
                        <th scope="col">
                            <abbr {{#description}} class="attribute" data-toggle="tooltip" data-placement="bottom" title="{{ description }}"{{/description}}>
                                {{ name }}
                            </abbr>
                        </th>
                    {{/leaderboard.header.columns}}

                    {{#leaderboard.header.has.metadata}}
                        <th class="w-col-min p-0"></th>
                    {{/leaderboard.header.has.metadata}}
                </tr>
            </thead>
        {{/leaderboard.header.has.columns}}

        <tbody>
            {{#leaderboard.entries}}
                <tr class="tr-align-middle{{^trophy}} row-small{{/trophy}}">
                    <th scope="row" class="w-col-min{{#trophy}} py-3{{/trophy}}">
                        {{ index }}

                        {{#trophy}}
                            <i class="fa {{trophy.icon}} ml-2" data-gradient-start="{{trophy.color.start }}" data-gradient-end="{{trophy.color.end }}" style="color: {{trophy.color.start }}; background: -webkit-linear-gradient(-45deg, {{trophy.color.start }}, {{trophy.color.end }}); -webkit-background-clip: text; -webkit-text-fill-color: transparent; transform: scale(1.5);"></i>
                        {{/trophy}}
                    </th>

                    <th scope="row" class="w-col-min pr-0 text-center">
                        {{#picture}}
                            <div class="d-inline-block align-middle mr-2">
                                <img src="{{picture}}" class="userpicture defaultuserpic m-0 border" {{#trophy}}width="30" height="30"{{/trophy}}{{^trophy}}width="25" height="25"{{/trophy}} aria-hidden="true">
                            </div>
                        {{/picture}}
                    </th>

                    {{#columns}}
                        <td data-key="{{ key }}">
                            {{^missing}}
                                <div>
                                    {{ data }}
                                    {{#privacy_concern}}
                                        <a href="{{user_settings}}" class="badge badge-light border rounded ml-2 text-uppercase small" data-toggle="tooltip" data-html="true" title="{{#str}}leaderboard:list:alternatename,mod_vplcc{{/str}}">
                                            <i class="fa fa-globe mr-1"></i>{{#str}}leaderboard:list:public,mod_vplcc{{/str}}
                                        </a>
                                    {{/privacy_concern}}
                                </div>
                            {{/missing}}
                            {{#missing}}<div>{{> mod_vplcc/partials/leaderboard/no_data }}</div>{{/missing}}
                        </td>
                    {{/columns}}

                    {{#leaderboard.header.has.metadata}}
                    <td class="text-right w-col-min">
                        <button type="button" class="btn btn-secondary btn-sm btn-row-hidden rounded" data-toggle="modal" data-target="#metadata-{{ index }}">
                            {{#str}}leaderboard:list:details:view,mod_vplcc{{/str}}
                        </button>
                    </td>
                    {{/leaderboard.header.has.metadata}}
                </tr>
            {{/leaderboard.entries}}
        </tbody>

    </table>

    <div class="d-flex justify-content-center">
        {{> mod_vplcc/partials/pagination }}
    </div>
</div>

{{#leaderboard.header.has.metadata}}
    {{#leaderboard.entries}}
        <div class="modal fade" id="metadata-{{ index }}" tabindex="-1" role="dialog" aria-labelledby="metadata-{{ index }}-details" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content rounded">
                    <div class="modal-header">
                        <h5 class="modal-title" id="metadata-{{ index }}-details">{{#str}}leaderboard:list:details:title,mod_vplcc{{/str}}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body dl-container">
                        {{#metadata}}
                            <div class="form-group row">
                                <div class="col-sm-7">
                                    <label class="col-form-label font-weight-bold">{{ info.name }}</label>
                                    {{#info.description}}
                                        <p id="passwordHelpBlock" class="form-text text-muted mb-0">
                                            {{ info.description }}
                                        </p>
                                    {{/info.description}}
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-control-plaintext bg-light rounded px-3" data-key="{{ key }}">
                                        {{^missing}}{{ data }}{{/missing}}
                                        {{#missing}}{{> mod_vplcc/partials/leaderboard/no_data }}{{/missing}}
                                    </div>
                                </div>
                            </div>
                        {{/metadata}}
                    </div>
                </div>
            </div>
        </div>
    {{/leaderboard.entries}}
{{/leaderboard.header.has.metadata}}