{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/partials/leaderboard/scope_selection

  VPL CC module template to display a scope switcher in leaderboards.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<label class="mb-3">
    <select class="custom-select" id="scope_switch">
        <option disabled>{{#str}}leaderboard:scopeswitch,mod_vplcc{{/str}}</option>
        {{#scopes.list}}
            <option value="{{ id }}"{{#selected}} selected{{/selected}}>{{ name }}</option>
        {{/scopes.list}}
    </select>
</label>

<script>
{{#js}}
    require([], function () {
        const params = new URLSearchParams(window.location.search);

        document.getElementById('scope_switch').addEventListener('change', function() {
            const url = new URL(window.location.href);
            url.searchParams.set('scope', this.value);
            url.searchParams.set('page', 1);

            window.location.href = url.href;
        });
    });
{{/js}}
</script>