{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/svg/leaderboard-empty

  VPL CC module svg template used by the mod_vplcc/partials/leaderboard/empty template.
  SVG credits: undraw.co

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<svg viewBox="0 0 432 337" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com -->
    <title>Artboard</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="49.9988159%" y1="100%" x2="49.9988159%" y2="0%" id="linearGradient-1">
            <stop stop-color="#808080" stop-opacity="0.25" offset="0%"></stop>
            <stop stop-color="#808080" stop-opacity="0.12" offset="54%"></stop>
            <stop stop-color="#808080" stop-opacity="0.1" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="linearGradient-2">
            <stop stop-color="#808080" stop-opacity="0.25" offset="0%"></stop>
            <stop stop-color="#808080" stop-opacity="0.12" offset="54%"></stop>
            <stop stop-color="#808080" stop-opacity="0.1" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="60.2180562%" y1="98.8803643%" x2="39.8385275%" y2="1.02948481%" id="linearGradient-3">
            <stop stop-color="#808080" stop-opacity="0.25" offset="0%"></stop>
            <stop stop-color="#808080" stop-opacity="0.12" offset="54%"></stop>
            <stop stop-color="#808080" stop-opacity="0.1" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="49.9988159%" y1="100%" x2="49.9988159%" y2="0%" id="linearGradient-4">
            <stop stop-color="#808080" stop-opacity="0.25" offset="0%"></stop>
            <stop stop-color="#808080" stop-opacity="0.12" offset="54%"></stop>
            <stop stop-color="#808080" stop-opacity="0.1" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="linearGradient-5">
            <stop stop-color="#808080" stop-opacity="0.25" offset="0%"></stop>
            <stop stop-color="#808080" stop-opacity="0.12" offset="54%"></stop>
            <stop stop-color="#808080" stop-opacity="0.1" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="50%" y1="99.9144422%" x2="50%" y2="-0.0855578371%" id="linearGradient-6">
            <stop stop-color="#808080" stop-opacity="0.25" offset="0%"></stop>
            <stop stop-color="#808080" stop-opacity="0.12" offset="54%"></stop>
            <stop stop-color="#808080" stop-opacity="0.1" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M250.638418,47.5212658 C223.030013,46.5657215 196.735481,37.6501519 171.626848,27.898481 C146.518215,18.1468101 121.648468,7.34574684 94.7012658,2.17983544 C77.3692278,-1.14324051 57.5459494,-1.61674684 43.5839114,7.66568354 C30.1423038,16.6239114 25.7996962,32.0448608 23.4662911,46.3652278 C21.7087722,57.1406962 20.676443,68.483519 25.4882911,78.5721899 C28.8326962,85.5766709 34.7621899,91.4635063 38.8659114,98.1736456 C53.1436203,121.516228 43.0506835,150.302 27.5828101,173.094291 C20.3309114,183.784443 11.9059114,193.996823 6.30488608,205.365241 C0.703860759,216.733658 -1.88549367,229.804139 3.01593671,241.432772 C7.87044304,252.950494 19.4436203,261.584519 31.9808734,267.663316 C57.4435696,280.012873 87.4365696,283.544975 116.70438,285.549911 C181.472367,289.977835 246.58162,288.062481 311.520241,286.138595 C335.553886,285.430468 359.689911,284.709544 383.331101,280.994013 C396.461304,278.929354 410.013823,275.653203 419.547937,267.744367 C431.64581,257.706886 434.644684,240.711848 426.535354,228.127671 C412.935911,207.011848 375.345481,201.769152 365.82843,179.113367 C360.598532,166.640101 365.969203,152.750582 373.575165,141.185937 C389.887671,116.371646 417.227329,94.6031519 418.664911,66.243962 C419.654582,46.7662152 406.511582,27.2586076 386.189203,18.0401646 C364.889949,8.37807595 335.349127,9.59383544 319.642367,25.5864051 C303.45357,42.0354177 275.017595,48.3701646 250.638418,47.5212658 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M64.4700312,49.0209965 C64.4700312,49.0209965 48.2599046,48.0441231 50.1539299,59.4168066 C50.1539299,59.4168066 49.7742717,61.4260092 51.595778,62.3388952 C51.595778,62.3388952 51.6256388,61.4857307 53.2594489,61.7800725 C53.8412798,61.8779933 54.4326636,61.9066317 55.0212337,61.8653889 C55.8188606,61.8121915 56.5770657,61.4990199 57.17974,60.973832 L57.17974,60.973832 C57.17974,60.973832 61.7399046,59.0926041 63.5144869,51.6359459 C63.5144869,51.6359459 64.8283603,50.0064016 64.7942337,49.5883509 L62.0555755,50.7614522 C62.0555755,50.7614522 62.9897907,52.7365282 62.2518033,54.3788699 C62.2518033,54.3788699 62.1664869,50.8339712 61.6375248,50.9150218 C61.5308793,50.9150218 60.2170059,51.6018193 60.2170059,51.6018193 C60.2170059,51.6018193 61.8252211,55.0400725 60.6094616,57.5441104 C60.6094616,57.5441104 61.0701704,53.3038826 59.7136388,51.849237 L57.7854869,52.9754142 C57.7854869,52.9754142 59.6667147,56.5288446 58.3912337,59.4296041 C58.3912337,59.4296041 58.7197021,54.9803509 57.3802337,53.2484269 L55.6312464,54.6092244 C55.6312464,54.6092244 57.4015628,58.1157307 56.3223097,60.5216547 C56.3223097,60.5216547 56.1815375,55.3429459 55.2515881,54.9504902 C55.2515881,54.9504902 53.7244236,56.2984902 53.4940692,56.8530471 C53.4940692,56.8530471 54.701297,59.4125408 53.9505122,60.7392117 C53.9505122,60.7392117 53.4898033,57.2881611 53.0973476,57.2710978 C53.0973476,57.2710978 51.5744489,59.5575788 51.4166135,61.1103383 C51.490369,59.6627361 51.9418777,58.2596763 52.7262211,57.0407433 C51.8485171,57.206802 51.0387477,57.6265176 50.3970818,58.2479712 C50.3970818,58.2479712 50.6317021,56.6312244 53.1016135,56.4904522 C53.1016135,56.4904522 54.3813603,54.7542623 54.6970312,54.6476168 C54.6970312,54.6476168 52.2399173,54.4428573 50.7511451,55.1040598 C50.7511451,55.1040598 52.0607527,53.5811611 55.1492084,54.2508952 L56.8555375,52.8431737 C56.8555375,52.8431737 53.6220438,52.4165915 52.2484489,52.8900978 C52.2484489,52.8900978 53.8268033,51.5420978 57.3205122,52.523237 L59.1974742,51.4013256 C59.1974742,51.4013256 56.4417527,50.8041104 54.7994109,51.0216674 C54.7994109,51.0216674 56.531335,50.0874522 59.7477654,51.0984522 L61.0914995,50.4969712 C61.0914995,50.4969712 59.0694995,50.1002497 58.480816,50.0362623 C57.8921324,49.972275 57.8580059,49.8101737 57.8580059,49.8101737 C59.1371931,49.597271 60.4504006,49.7449884 61.6503223,50.236756 C61.6503223,50.236756 64.5297527,49.2001611 64.4700312,49.0209965 Z" id="Path" class="primary" fill-rule="nonzero"></path>
        <path d="M328.566468,104.824063 C328.566468,104.824063 312.356342,103.84719 314.250367,115.219873 C314.250367,115.219873 313.870709,117.229076 315.692215,118.141962 C315.692215,118.141962 315.722076,117.288797 317.360152,117.583139 C317.941983,117.68106 318.533367,117.709698 319.121937,117.668456 C319.910194,117.611305 320.658633,117.299954 321.254848,116.781165 L321.254848,116.781165 C321.254848,116.781165 325.819278,114.895671 327.593861,107.439013 C327.593861,107.439013 328.903468,105.813734 328.852278,105.395684 L326.11362,106.564519 C326.11362,106.564519 327.047835,108.539595 326.314114,110.181937 C326.314114,110.181937 326.224532,106.637038 325.699835,106.718089 C325.59319,106.718089 324.275051,107.404886 324.275051,107.404886 C324.275051,107.404886 325.887532,110.847405 324.671772,113.347177 C324.671772,113.347177 325.132481,109.106949 323.771684,107.652304 L321.864861,108.765684 C321.864861,108.765684 323.746089,112.319114 322.470608,115.219873 C322.470608,115.219873 322.799076,110.77062 321.459608,109.038696 L319.714886,110.403759 C319.714886,110.403759 321.480937,113.906 320.405949,116.311924 C320.405949,116.311924 320.265177,111.133215 319.335228,110.740759 C319.335228,110.740759 317.808063,112.088759 317.573443,112.643316 C317.573443,112.643316 318.784937,115.20281 318.034152,116.529481 C318.034152,116.529481 317.573443,113.07843 317.180987,113.061367 C317.180987,113.061367 315.658089,115.347848 315.500253,116.900608 C315.576467,115.452828 316.029361,114.050035 316.814127,112.831013 C315.935315,112.997476 315.124286,113.417076 314.480722,114.038241 C314.480722,114.038241 314.719608,112.421494 317.189519,112.280722 C317.189519,112.280722 318.447937,110.544532 318.784937,110.437886 C318.784937,110.437886 316.327823,110.233127 314.839051,110.894329 C314.839051,110.894329 316.148658,109.37143 319.232848,110.062494 L320.939177,108.654772 C320.939177,108.654772 317.701418,108.22819 316.332089,108.701696 C316.332089,108.701696 317.910443,107.353696 321.404152,108.334835 L323.281114,107.212924 C323.281114,107.212924 320.521127,106.619975 318.878785,106.833266 C318.878785,106.833266 320.614975,105.899051 323.831405,106.910051 L325.175139,106.30857 C325.175139,106.30857 323.153139,105.911848 322.56019,105.847861 C321.967241,105.783873 321.93738,105.621772 321.93738,105.621772 C323.217968,105.408742 324.532579,105.556451 325.733962,106.048354 C325.733962,106.048354 328.617658,105.003228 328.566468,104.824063 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M287.682823,21.977519 C287.682823,21.977519 282.478519,6.57363291 272.662861,12.6268354 C272.662861,12.6268354 270.657924,13.0534177 270.500089,15.0626203 C270.500089,15.0626203 271.289266,14.7725443 271.639063,16.393557 C271.769022,16.9701766 271.965126,17.529862 272.223481,18.0614937 C272.576046,18.7769639 273.150707,19.3591081 273.861557,19.7208987 L273.861557,19.7208987 C273.861557,19.7208987 277.325405,23.2402025 284.901506,22.0756329 C284.901506,22.0756329 286.902177,22.6813797 287.269038,22.4723544 L285.136127,20.3778354 C285.136127,20.3778354 283.660152,21.9860506 281.859975,21.9220633 C281.859975,21.9220633 285.114797,20.5058101 284.846051,20.0493671 C284.790595,19.9597848 283.677215,18.991443 283.677215,18.991443 C283.677215,18.991443 281.092127,21.7770253 278.319342,21.5935949 C278.319342,21.5935949 282.418797,20.4247595 283.254899,18.607519 L281.488848,17.2467215 C281.488848,17.2467215 278.903759,20.3266456 275.734253,20.2327975 C275.734253,20.2327975 280.000076,18.8634684 281.079329,16.969443 L279.159709,15.8645949 C279.159709,15.8645949 276.600215,18.8208101 273.946873,18.726962 C273.946873,18.726962 278.690468,16.6495063 278.703266,15.6427722 C278.703266,15.6427722 276.881759,14.7341519 276.280278,14.7256203 C276.280278,14.7256203 274.377722,16.8030759 272.86762,16.6153797 C272.86762,16.6153797 275.887823,14.8877215 275.759848,14.5336582 C275.759848,14.5336582 273.07238,13.9833671 271.558013,14.4270127 C272.927708,13.950119 274.398329,13.8398225 275.823835,14.1070759 C275.337054,13.3558573 274.641788,12.76288 273.823165,12.4007468 C273.823165,12.4007468 275.410051,12.012557 276.472241,14.2478481 C276.472241,14.2478481 278.553962,14.7640127 278.775785,15.0327595 C278.775785,15.0327595 278.042063,12.6822911 276.868962,11.5475823 C276.868962,11.5475823 278.775785,12.1917215 279.296215,15.310038 L281.249962,16.3764937 C281.249962,16.3764937 280.443722,13.215519 279.471114,12.1106709 C279.471114,12.1106709 281.318215,13.0662152 281.719203,16.6708354 L283.46819,17.9889747 C283.46819,17.9889747 282.981886,15.2076582 282.162848,13.7658101 C282.162848,13.7658101 283.681481,15.019962 283.954494,18.3856962 L285.016684,19.400962 C285.016684,19.400962 284.624228,17.378962 284.462127,16.8073418 C284.300025,16.2357215 284.432266,16.1973291 284.432266,16.1973291 C285.110406,17.303943 285.469171,18.5765976 285.468861,19.8744684 C285.468861,19.8744684 287.533519,22.0884304 287.682823,21.977519 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M253.718342,22.7368354 C253.718342,22.7368354 237.550873,20.9366582 238.886076,32.4074557 C238.886076,32.4074557 238.404038,34.3953291 240.165823,35.3935316 C240.165823,35.3935316 240.238342,34.5403671 241.872152,34.9242911 C242.449546,35.0485275 243.039117,35.1071984 243.629671,35.0991899 C244.427374,35.0847836 245.198638,34.8107229 245.82657,34.3185443 L245.82657,34.3185443 C245.82657,34.3185443 250.480582,32.6676709 252.651886,25.3091266 C252.651886,25.3091266 254.042544,23.7521013 254.012684,23.3297848 L251.21857,24.3621139 C251.21857,24.3621139 252.071734,26.3798481 251.21857,27.9837975 C251.21857,27.9837975 251.308152,24.4388987 250.791987,24.4943544 C250.685342,24.4943544 249.337342,25.1086329 249.337342,25.1086329 C249.337342,25.1086329 250.770658,28.6279367 249.43119,31.0807848 C249.43119,31.0807848 250.10519,26.8661519 248.821177,25.347519 L246.83757,26.3713165 C246.83757,26.3713165 248.543899,30.0185949 247.114848,32.8511013 C247.114848,32.8511013 247.669405,28.4231772 246.419519,26.6272658 L244.606544,27.9070127 C244.606544,27.9070127 246.19343,31.4945696 244.994734,33.845038 C244.994734,33.845038 245.118443,28.6663291 244.209823,28.2269494 C244.209823,28.2269494 242.614405,29.5066962 242.35419,30.0356582 C242.35419,30.0356582 243.433443,32.6378101 242.618671,33.9388861 C242.618671,33.9388861 242.332861,30.4707722 241.957468,30.4366456 C241.957468,30.4366456 240.319392,32.6420759 240.080506,34.1991013 C240.228478,32.7555583 240.752073,31.3759742 241.599139,30.1977595 C240.713941,30.3200859 239.883701,30.698142 239.210278,31.2855443 C239.210278,31.2855443 239.525949,29.6858608 242.000127,29.6687975 C242.000127,29.6687975 243.343861,28.0008608 243.706456,27.9112785 C243.706456,27.9112785 241.262139,27.5828101 239.739241,28.1672278 C239.739241,28.1672278 241.125633,26.7083165 244.17143,27.5572152 L245.967342,26.2390759 C245.967342,26.2390759 242.721051,25.5821392 241.347456,26.0087215 C241.347456,26.0087215 242.994063,24.7289747 246.432316,25.9020759 L248.364734,24.8740127 C248.364734,24.8740127 245.638873,24.1402911 243.988,24.2725316 C243.988,24.2725316 245.766848,23.4193671 248.927823,24.601 L250.301418,24.0677722 C250.301418,24.0677722 248.300747,23.5686709 247.712063,23.4748228 C247.12338,23.3809747 247.102051,23.2188734 247.102051,23.2188734 C248.391667,23.0709074 249.697052,23.2835493 250.873038,23.8331519 C250.873038,23.8331519 253.748203,22.916 253.718342,22.7368354 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M395.173025,148.224544 C395.173025,148.224544 379.014089,146.424367 380.349291,157.882367 C380.349291,157.882367 379.867253,159.870241 381.629038,160.868443 C381.629038,160.868443 381.701557,160.015278 383.335367,160.394937 C383.912093,160.523382 384.502157,160.582102 385.092886,160.569835 C385.890986,160.557619 386.662927,160.283317 387.289785,159.78919 L387.289785,159.78919 C387.289785,159.78919 391.943797,158.138316 394.093772,150.784038 C394.093772,150.784038 395.48443,149.222747 395.45457,148.804696 L392.660456,149.832759 C392.660456,149.832759 393.51362,151.854759 392.660456,153.458709 C392.660456,153.458709 392.750038,149.909544 392.233873,149.969266 C392.127228,149.969266 390.779228,150.579278 390.779228,150.579278 C390.779228,150.579278 392.212544,154.098582 390.873076,156.55143 C390.873076,156.55143 391.547076,152.341063 390.263063,150.818165 L388.279456,151.846228 C388.279456,151.846228 389.985785,155.493506 388.561,158.326013 C388.561,158.326013 389.111291,153.898089 387.861405,152.097911 L386.04843,153.377658 C386.04843,153.377658 387.635316,156.965215 386.43662,159.311418 C386.43662,159.311418 386.560329,154.132709 385.651709,153.697595 C385.651709,153.697595 384.060557,154.977342 383.796076,155.506304 C383.796076,155.506304 384.879595,158.108456 384.060557,159.409532 C384.060557,159.409532 383.774747,155.941418 383.399354,155.907291 C383.399354,155.907291 381.761278,158.112722 381.522392,159.669747 C381.670364,158.226204 382.193959,156.84662 383.041025,155.668405 C382.155195,155.788547 381.324354,156.166876 380.652165,156.75619 C380.652165,156.75619 380.967835,155.152241 383.442013,155.135177 C383.442013,155.135177 384.790013,153.467241 385.148342,153.381924 C385.148342,153.381924 382.704025,153.04919 381.181127,153.633608 C381.181127,153.633608 382.567519,152.178962 385.617582,153.027861 L387.409228,151.709722 C387.409228,151.709722 384.201329,151.103975 382.806405,151.522025 C382.806405,151.522025 384.453013,150.242278 387.891266,151.411114 L389.823684,150.387316 C389.823684,150.387316 387.097823,149.653595 385.446949,149.785835 C385.446949,149.785835 387.225797,148.932671 390.386772,150.114304 L391.760367,149.57681 C391.760367,149.57681 389.759696,149.077709 389.171013,148.988127 C388.582329,148.898544 388.561,148.732177 388.561,148.732177 C389.850251,148.581526 391.155987,148.792748 392.331987,149.34219 C392.331987,149.34219 395.215684,148.407975 395.173025,148.224544 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M419.876405,163.317025 C419.876405,163.317025 403.717468,161.521114 405.052671,172.974848 C405.052671,172.974848 404.574899,174.962722 406.332418,175.960924 C406.332418,175.960924 406.404937,175.107759 408.038747,175.491684 C408.614475,175.616966 409.202919,175.674236 409.792,175.662316 C410.586053,175.646067 411.353615,175.373754 411.980367,174.885937 L411.980367,174.885937 C411.980367,174.885937 416.630114,173.235063 418.780089,165.876519 C418.780089,165.876519 420.175013,164.319494 420.140886,163.897177 L417.346772,164.925241 C417.346772,164.925241 418.199937,166.947241 417.346772,168.55119 C417.346772,168.55119 417.436354,165.006291 416.92019,165.061747 C416.813544,165.061747 415.465544,165.671759 415.465544,165.671759 C415.465544,165.671759 416.898861,169.191063 415.559392,171.643911 C415.559392,171.643911 416.233392,167.433544 414.94938,165.914911 L412.965772,166.938709 C412.965772,166.938709 414.672101,170.585987 413.247316,173.418494 C413.247316,173.418494 413.797608,168.99057 412.547722,167.194658 L410.734747,168.474405 C410.734747,168.474405 412.321633,172.061962 411.127203,174.41243 C411.127203,174.41243 411.246646,169.229456 410.338025,168.794342 C410.338025,168.794342 408.746873,170.074089 408.482392,170.603051 C408.482392,170.603051 409.565911,173.205203 408.746873,174.506278 C408.746873,174.506278 408.461063,171.038165 408.085671,171.004038 C408.085671,171.004038 406.447595,173.209468 406.212975,174.766494 C406.360655,173.323584 406.882674,171.944276 407.727342,170.765152 C406.842144,170.887478 406.011903,171.265534 405.338481,171.852937 C405.338481,171.852937 405.658418,170.248987 408.132595,170.23619 C408.132595,170.23619 409.476329,168.568253 409.838924,168.478671 C409.838924,168.478671 407.394608,168.150203 405.871709,168.73462 C405.871709,168.73462 407.258101,167.275709 410.308165,168.124608 L412.09981,166.806468 C412.09981,166.806468 408.891911,166.200722 407.496987,166.618772 C407.496987,166.618772 409.143595,165.339025 412.581848,166.512127 L414.514266,165.484063 C414.514266,165.484063 411.788405,164.750342 410.137532,164.882582 C410.137532,164.882582 411.91638,164.029418 415.077354,165.211051 L416.450949,164.677823 C416.450949,164.677823 414.450278,164.178722 413.865861,164.084873 C413.281443,163.991025 413.251582,163.828924 413.251582,163.828924 C414.541199,163.680958 415.846584,163.8936 417.02257,164.443203 C417.02257,164.443203 419.919063,163.500456 419.876405,163.317025 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M365.030722,36.1912405 C365.030722,36.1912405 352.01143,26.4523671 347.357418,37.0017468 C347.357418,37.0017468 345.936899,38.4734557 346.95643,40.2352405 C346.95643,40.2352405 347.442734,39.548443 348.662759,40.6874177 C349.094896,41.0894451 349.57316,41.4388358 350.087544,41.7282785 C350.784373,42.1159299 351.588634,42.2656992 352.378291,42.1548608 L352.378291,42.1548608 C352.378291,42.1548608 357.224266,43.0890759 362.808228,37.8378481 C362.808228,37.8378481 364.796101,37.1979747 364.983797,36.8225823 L362.053177,36.2936203 C362.053177,36.2936203 361.746038,38.4563924 360.231671,39.4247342 C360.231671,39.4247342 362.104367,36.4130633 361.618063,36.1955063 C361.519949,36.1485823 360.056772,35.9822152 360.056772,35.9822152 C360.056772,35.9822152 359.506481,39.7446709 357.11762,41.1651899 C357.11762,41.1651899 359.834949,37.8762405 359.497949,35.913962 L357.266924,35.794519 C357.266924,35.794519 356.887266,39.8001266 354.225392,41.523519 C354.225392,41.523519 356.946987,37.9871519 356.784886,35.8030506 L354.57519,35.9822152 C354.57519,35.9822152 354.148608,39.8769114 351.904785,41.2931646 C351.904785,41.2931646 354.634911,36.8908354 354.071823,36.0547342 C354.071823,36.0547342 352.054089,36.3405443 351.554987,36.6732785 C351.554987,36.6732785 351.171063,39.4631266 349.806,40.1712532 C349.806,40.1712532 351.316101,37.0358734 351.008962,36.8183165 C351.008962,36.8183165 348.479329,37.889038 347.485392,39.1090633 C348.345191,37.9409223 349.495066,37.0174933 350.821266,36.4301266 C349.996107,36.0871691 349.088843,35.9922918 348.210582,36.1571139 C348.210582,36.1571139 349.298367,34.9370886 351.43981,36.178443 C351.43981,36.178443 353.440481,35.4233924 353.781747,35.5172405 C353.781747,35.5172405 351.840797,33.9943418 350.232582,33.7298608 C350.232582,33.7298608 352.169266,33.1753038 354.366165,35.4361899 L356.580127,35.2101013 C356.580127,35.2101013 354.123013,33.0771899 352.706759,32.7188608 C352.706759,32.7188608 354.767152,32.4586456 357.143215,35.1973038 L359.331582,35.2954177 C359.331582,35.2954177 357.352241,33.2819494 355.863468,32.5567595 C355.863468,32.5567595 357.825747,32.7273924 359.954392,35.3423418 L361.409038,35.576962 C361.409038,35.576962 359.937329,34.1351139 359.47662,33.7597215 C359.015911,33.3843291 359.084165,33.2606203 359.084165,33.2606203 C360.26923,33.7869983 361.285152,34.6316313 362.019051,35.7006709 C362.019051,35.7006709 364.975266,36.3661392 365.030722,36.1912405 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M375.089532,106.500532 C375.089532,106.500532 370.601886,90.8748228 360.508949,96.4843797 C360.508949,96.4843797 358.486949,96.7957848 358.235266,98.8177848 C358.235266,98.8177848 359.037241,98.5661013 359.314519,100.199911 C359.417337,100.786867 359.589162,101.359616 359.826418,101.906241 C360.142829,102.641318 360.691186,103.252601 361.387709,103.646696 L361.387709,103.646696 C361.387709,103.646696 364.689456,107.315304 372.308215,106.496266 C372.308215,106.496266 374.279025,107.187329 374.654418,106.999633 L372.636684,104.807 C372.636684,104.807 371.08819,106.351228 369.296544,106.20619 C369.296544,106.20619 372.606823,104.926443 372.350873,104.47 C372.299684,104.376152 371.233228,103.35662 371.233228,103.35662 C371.233228,103.35662 368.528696,106.027025 365.764443,105.71562 C365.764443,105.71562 369.915089,104.734481 370.827975,102.96843 L369.121646,101.526582 C369.121646,101.526582 366.400051,104.487063 363.239076,104.256709 C363.239076,104.256709 367.539025,103.075076 368.724924,101.236506 L366.856494,100.046342 C366.856494,100.046342 364.147696,102.883114 361.519949,102.669823 C361.519949,102.669823 366.353127,100.805658 366.412848,99.8031899 C366.412848,99.8031899 364.629734,98.813519 364.028253,98.7793924 C364.028253,98.7793924 362.036114,100.767266 360.521747,100.511316 C360.521747,100.511316 363.618734,98.9201646 363.507823,98.5618354 C363.507823,98.5618354 360.845949,97.8921013 359.314519,98.2632278 C360.701539,97.8519294 362.171817,97.8092913 363.580342,98.139519 C363.129179,97.3676434 362.461841,96.7447946 361.660722,96.3478734 C361.660722,96.3478734 363.264671,96.0279367 364.220215,98.3101519 C364.220215,98.3101519 366.272076,98.9158987 366.485367,99.197443 C366.485367,99.197443 365.858291,96.8128481 364.73638,95.6312152 C364.73638,95.6312152 366.613342,96.3564051 366.993,99.4960506 L368.895557,100.652089 C368.895557,100.652089 368.230089,97.4527215 367.308671,96.3265443 C367.308671,96.3265443 369.108848,97.3631392 369.352,100.980557 L371.058329,102.375481 C371.058329,102.375481 370.695734,99.5771013 369.944949,98.1096582 C369.944949,98.1096582 371.408127,99.4320633 371.52757,102.802063 L372.542835,103.868519 C372.542835,103.868519 372.244228,101.829456 372.116253,101.249304 C371.988278,100.669152 372.116253,100.588101 372.116253,100.588101 C372.747503,101.722776 373.050312,103.010819 372.990747,104.307899 C372.990747,104.307899 374.935962,106.602911 375.089532,106.500532 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M275.090114,141.710633 C275.090114,141.710633 266.375038,127.983215 258.282772,136.19919 C258.282772,136.19919 256.431405,137.052354 256.755608,139.07862 C256.755608,139.07862 257.459468,138.60938 258.184658,140.102418 C258.445238,140.631534 258.768954,141.127135 259.148734,141.578392 C259.657366,142.194304 260.354331,142.625972 261.132342,142.806949 L261.132342,142.806949 C261.132342,142.806949 265.334177,145.40057 272.415443,142.465684 C272.415443,142.465684 274.50143,142.576595 274.80857,142.290785 L272.249076,140.755089 C272.249076,140.755089 271.195418,142.674709 269.433633,143.037304 C269.433633,143.037304 272.257608,140.904392 271.877949,140.511937 C271.80543,140.435152 270.491557,139.761152 270.491557,139.761152 C270.491557,139.761152 268.644456,143.079962 265.905797,143.562 C265.905797,143.562 269.612797,141.450418 269.996722,139.496671 L267.953392,138.596582 C267.953392,138.596582 266.174544,142.201203 263.077557,142.862405 C263.077557,142.862405 266.874139,140.520468 267.492684,138.421684 L265.359772,137.807405 C265.359772,137.807405 263.559595,141.292582 260.978772,141.82581 C260.978772,141.82581 265.091025,138.677633 264.864937,137.696494 C264.864937,137.696494 262.877063,137.248582 262.305443,137.385089 C262.305443,137.385089 260.953177,139.855 259.426013,140.034165 C259.426013,140.034165 261.95138,137.636772 261.742354,137.321101 C261.742354,137.321101 258.99943,137.427747 257.634367,138.216924 C258.852028,137.428064 260.255177,136.972114 261.703962,136.894519 C261.055314,136.280597 260.241233,135.869849 259.362025,135.712886 C259.362025,135.712886 260.808139,134.957835 262.348101,136.877456 C262.348101,136.877456 264.481013,136.877456 264.775354,137.090747 C264.775354,137.090747 263.495608,134.957835 262.092152,134.160127 C262.092152,134.160127 264.097089,134.330759 265.342709,137.235785 L267.496949,137.807405 C267.496949,137.807405 265.956987,134.927975 264.758291,134.104671 C264.758291,134.104671 266.776025,134.590975 268.025911,137.999367 L270.03938,138.852532 C270.03938,138.852532 268.904671,136.271709 267.765696,135.064481 C267.765696,135.064481 269.540278,135.917646 270.602468,139.121278 L271.882215,139.859266 C271.882215,139.859266 271.029051,137.98657 270.726177,137.470405 C270.423304,136.954241 270.542747,136.834797 270.542747,136.834797 C271.465846,137.746607 272.117188,138.897163 272.423975,140.157873 C272.423975,140.157873 274.974937,141.855671 275.090114,141.710633 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M92.2747282,24.4771591 C92.2747282,24.4771591 83.9862345,10.4895262 75.6380193,18.4495515 C75.6380193,18.4495515 73.7610573,19.2600578 74.0255383,21.2820578 C74.0255383,21.2820578 74.7379307,20.8298806 75.4204624,22.3442477 C75.6645312,22.8825647 75.9724598,23.3895727 76.3376143,23.854349 C76.8274764,24.483419 77.5112344,24.9332598 78.2828295,25.1340958 L78.2828295,25.1340958 C78.2828295,25.1340958 82.3993485,27.8556908 89.5701966,25.1340958 C89.5701966,25.1340958 91.6519181,25.3089946 91.967589,25.0317161 L89.463551,23.4192351 C89.463551,23.4192351 88.3544371,25.3004629 86.5798548,25.611868 C86.5798548,25.611868 89.4678168,23.5514756 89.1052219,23.1632857 C89.0284371,23.0822351 87.7401586,22.3655768 87.7401586,22.3655768 C87.7401586,22.3655768 85.7906776,25.6289313 83.0477535,26.0256528 C83.0477535,26.0256528 86.8187409,24.0292477 87.2581206,22.0925642 L85.2446523,21.1455515 C85.2446523,21.1455515 83.3548928,24.6989819 80.2365763,25.2663363 C80.2365763,25.2663363 84.1056776,23.0438427 84.7882092,20.966387 L82.6808928,20.2838553 C82.6808928,20.2838553 80.7698041,23.6965135 78.1761839,24.165754 C78.1761839,24.165754 82.3822852,21.1455515 82.1860573,20.1601465 C82.1860573,20.1601465 80.2152472,19.6482477 79.6265636,19.7676908 C79.6265636,19.7676908 78.197513,22.1949439 76.6660826,22.3271844 C76.6660826,22.3271844 79.2639687,20.0151085 79.0677409,19.6909059 C79.0677409,19.6909059 76.320551,19.7122351 74.9341586,20.458754 C76.1760969,19.7096416 77.5921623,19.2979091 79.0421459,19.2643237 C78.4116147,18.6301965 77.6094346,18.1942613 76.7343358,18.0101718 C76.7343358,18.0101718 78.2060447,17.2977794 79.7204117,19.2643237 C79.7204117,19.2643237 81.8533231,19.3368427 82.1391333,19.5543996 C82.1391333,19.5543996 80.9319054,17.4214882 79.5497788,16.5427287 C79.5497788,16.5427287 81.5461839,16.7730832 82.7022219,19.7165009 L84.8351333,20.3563743 C84.8351333,20.3563743 83.3890193,17.4300199 82.2116523,16.5683237 C82.2116523,16.5683237 84.216589,17.1186148 85.3598295,20.5611338 L87.3434371,21.4868173 C87.3434371,21.4868173 86.2897788,18.871868 85.2105257,17.6475768 C85.2105257,17.6475768 86.9552472,18.5561971 87.923589,21.7896908 L89.173475,22.5660705 C89.173475,22.5660705 88.3715004,20.6677794 88.089956,20.1430832 C87.8084117,19.618387 87.9278548,19.5032097 87.9278548,19.5032097 C88.8220477,20.443059 89.4378503,21.6126409 89.7067029,22.8817414 C89.7067029,22.8817414 92.1510193,24.6179313 92.2747282,24.4771591 Z" id="Path" class="primary" fill-rule="nonzero"></path>
        <path d="M71.7402152,108.183284 C71.7402152,108.183284 72.1667975,91.9304993 60.8751646,94.2212462 C60.8751646,94.2212462 58.8531646,93.9098411 58,95.7612082 C58,95.7612082 58.8531646,95.7612082 58.6142785,97.40355 C58.5361316,97.9891643 58.5275403,98.5819676 58.5886835,99.1696006 C58.6657989,99.9666588 59.0030859,100.716185 59.5484937,101.302512 L59.5484937,101.302512 C59.5484937,101.302512 61.5832911,105.798689 69.0954051,107.325854 C69.0954051,107.325854 70.7633418,108.584271 71.1813924,108.516018 L69.9016456,105.820018 C69.9016456,105.820018 67.9606962,106.818221 66.2927595,106.139955 C66.2927595,106.139955 69.8333924,105.93093 69.7352785,105.410499 C69.7352785,105.303854 69.001557,104.007044 69.001557,104.007044 C69.001557,104.007044 65.6144937,105.734702 63.0763291,104.599993 C63.0763291,104.599993 67.3421519,104.91993 68.7370759,103.516474 L67.5469114,101.626715 C67.5469114,101.626715 64.0574684,103.62312 61.1140506,102.445752 C61.1140506,102.445752 65.5718354,102.624917 67.2611013,101.229993 L65.8405823,99.5236639 C65.8405823,99.5236639 62.3980633,101.409158 59.9580127,100.410955 C59.9580127,100.410955 65.1281899,100.09955 65.5035823,99.1568031 C65.5035823,99.1568031 64.1043924,97.6765626 63.5413038,97.450474 C63.5413038,97.450474 61.0415316,98.7302208 59.6764684,98.0391576 C59.6764684,98.0391576 63.0891266,97.4675373 63.1104557,97.0878791 C63.1104557,97.0878791 60.7770506,95.6417652 59.202962,95.5351196 C60.6544496,95.5610699 62.0737842,95.9670143 63.319481,96.7124867 C63.1251297,95.8405533 62.6803354,95.0443715 62.0397342,94.4217398 C62.0397342,94.4217398 63.6650127,94.6051702 63.8868354,97.06655 C63.8868354,97.06655 65.6656835,98.269512 65.7808608,98.6022462 C65.7808608,98.6022462 65.9045696,96.1408664 65.1921772,94.6734234 C65.1921772,94.6734234 66.762,95.9318411 66.1733165,99.0373601 L67.6364937,100.718094 C67.6364937,100.718094 67.9692278,97.4675373 67.436,96.1152715 C67.436,96.1152715 68.8351899,97.6467019 67.9734937,101.170271 L69.1551266,103.008841 C69.1551266,103.008841 69.6584937,100.23179 69.3897468,98.5979803 C69.3897468,98.5979803 70.3794177,100.304309 69.4750633,103.550601 L70.1234684,104.873006 C70.1234684,104.873006 70.4519367,102.838208 70.4945949,102.245259 C70.5372532,101.652309 70.6993544,101.613917 70.6993544,101.613917 C70.9561447,102.886452 70.8542393,104.205314 70.4050127,105.423297 C70.4050127,105.423297 71.552519,108.23874 71.7402152,108.183284 Z" id="Path" class="primary" fill-rule="nonzero"></path>
        <ellipse id="Oval" class="primary" fill-rule="nonzero" opacity="0.1" cx="263.487861" cy="311.940949" rx="11.4878608" ry="1.94094937"></ellipse>
        <ellipse id="Oval" class="primary" fill-rule="nonzero" opacity="0.1" cx="124.487861" cy="330.940949" rx="11.4878608" ry="1.94094937"></ellipse>
        <ellipse id="Oval" class="primary" fill-rule="nonzero" opacity="0.1" cx="343.850911" cy="333.088241" rx="11.4878608" ry="1.94094937"></ellipse>
        <ellipse id="Oval" class="primary" fill-rule="nonzero" cx="355.812278" cy="308.461646" rx="17.1528734" ry="2.90075949"></ellipse>
        <path d="M362.923405,303.713785 C363.706448,303.077512 364.276479,302.217256 364.557215,301.248139 C364.770506,300.267 364.352456,299.093899 363.418241,298.73557 C362.368848,298.334582 361.246937,299.059772 360.393772,299.793494 C359.540608,300.527215 358.572266,301.367582 357.458886,301.214013 C358.621444,300.157898 359.145884,298.570011 358.841013,297.029241 C358.792678,296.715327 358.659979,296.420439 358.457089,296.176076 C357.872671,295.553266 356.819013,295.822013 356.119418,296.312582 C353.90119,297.873873 353.282646,300.885544 353.269848,303.598608 C353.048025,302.621734 353.235722,301.602203 353.231456,300.612532 C353.22719,299.622861 352.949911,298.47962 352.101013,297.95919 C351.579949,297.668652 350.99117,297.521457 350.394684,297.532608 C349.396481,297.498481 348.283101,297.596595 347.604835,298.326051 C346.751671,299.230405 346.977759,300.753304 347.711481,301.738709 C348.445203,302.724114 349.567114,303.359722 350.599443,304.050785 C351.425664,304.54418 352.131096,305.21609 352.664101,306.017329 C352.724841,306.128934 352.774834,306.24606 352.813405,306.367127 L359.067101,306.367127 C360.467118,305.661995 361.764493,304.769332 362.923405,303.713785 Z" id="Path" class="primary" fill-rule="nonzero"></path>
        <path d="M230.089949,94.7268608 C230.089949,94.7268608 233.822544,78.9049241 222.287759,78.8494684 C222.287759,78.8494684 220.372405,78.1328101 219.165177,79.7708861 C219.165177,79.7708861 219.988481,79.9457848 219.429658,81.5070759 C219.236387,82.0591658 219.107558,82.6317395 219.045734,83.2134051 C218.963103,84.0063417 219.141325,84.8045949 219.553367,85.4870886 L219.553367,85.4870886 C219.553367,85.4870886 220.63262,90.3074684 227.65843,93.3276709 C227.65843,93.3276709 229.040557,94.8974937 229.458608,94.914557 L228.776076,92.0180633 C228.776076,92.0180633 226.668759,92.602481 225.175722,91.591481 C225.175722,91.591481 228.686494,92.1076456 228.690759,91.591481 C228.690759,91.4848354 228.264177,90.0728481 228.264177,90.0728481 C228.264177,90.0728481 224.599835,91.0710506 222.338949,89.4457722 C222.338949,89.4457722 226.438405,90.6231392 228.106342,89.5353544 L227.338494,87.4365696 C227.338494,87.4365696 223.499253,88.6864557 220.871506,86.9332025 C220.871506,86.9332025 225.201316,88.0167215 227.138,86.9929241 L226.092873,85.0391772 C226.092873,85.0391772 222.338949,86.1824177 220.150582,84.7107089 C220.150582,84.7107089 225.26957,85.452962 225.824127,84.6083291 C225.824127,84.6083291 224.757671,82.8721392 224.250038,82.5479367 C224.250038,82.5479367 221.536975,83.3072532 220.342544,82.3389114 C220.342544,82.3389114 223.81919,82.4711519 223.900241,82.1042911 C223.900241,82.1042911 221.908101,80.2145316 220.389468,79.7879494 C221.804689,80.1101755 223.111651,80.7952647 224.181785,81.7758228 C224.166141,80.8817931 223.890432,80.0116765 223.388342,79.2717848 C223.388342,79.2717848 224.941101,79.7836835 224.668089,82.2578608 C224.668089,82.2578608 226.161127,83.793557 226.208051,84.1433544 C226.208051,84.1433544 226.826595,81.7587595 226.429873,80.1761392 C226.429873,80.1761392 227.70962,81.7288987 226.502392,84.6509873 L227.594443,86.5919367 C227.594443,86.5919367 228.584114,83.4778861 228.33243,82.0445696 C228.33243,82.0445696 229.39462,83.8276835 227.829063,87.1038354 L228.618241,89.1471646 C228.618241,89.1471646 229.671899,86.5279494 229.740152,84.8813418 C229.740152,84.8813418 230.367228,86.7497722 228.818734,89.7486456 L229.185595,91.1734304 C229.185595,91.1734304 229.919316,89.2495443 230.081418,88.6779241 C230.243519,88.1063038 230.409886,88.102038 230.409886,88.102038 C230.403385,89.3998201 230.035581,90.6701478 229.347696,91.7706456 C229.347696,91.7706456 229.906519,94.7481899 230.089949,94.7268608 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M194.589772,100.118861 C194.589772,100.118861 181.570481,90.3799873 176.916468,100.929367 C176.916468,100.929367 175.495949,102.401076 176.515481,104.162861 C176.515481,104.162861 177.001785,103.476063 178.22181,104.615038 C178.653947,105.017065 179.132211,105.366456 179.646595,105.655899 C180.343316,106.043847 181.147677,106.193635 181.937342,106.082481 L181.937342,106.082481 C181.937342,106.082481 186.783316,107.016696 192.363013,101.765468 C192.363013,101.765468 194.355152,101.125595 194.542848,100.750203 L191.603696,100.234038 C191.603696,100.234038 191.296557,102.39681 189.78219,103.365152 C189.78219,103.365152 191.654886,100.353481 191.168582,100.135924 C191.070468,100.089 189.603025,99.9226329 189.603025,99.9226329 C189.603025,99.9226329 189.057,103.685089 186.668139,105.105608 C186.668139,105.105608 189.385468,101.816658 189.048468,99.8543797 L186.817443,99.7349367 C186.817443,99.7349367 186.437785,103.740544 183.775911,105.463937 C183.775911,105.463937 186.493241,101.92757 186.335405,99.7434684 L184.125709,99.9226329 C184.125709,99.9226329 183.677797,103.817329 181.455304,105.233582 C181.455304,105.233582 184.181165,100.831253 183.622342,99.9951519 C183.622342,99.9951519 181.604608,100.280962 181.105506,100.613696 C181.105506,100.613696 180.717316,103.403544 179.352253,104.111671 C179.352253,104.111671 180.86662,100.976291 180.559481,100.758734 C180.559481,100.758734 178.029848,101.829456 177.035911,103.049481 C177.89571,101.88134 179.045585,100.957911 180.371785,100.370544 C179.546626,100.027587 178.639362,99.9327096 177.761101,100.097532 C177.761101,100.097532 178.84462,98.8775063 180.986063,100.118861 C180.986063,100.118861 182.991,99.3638101 183.332266,99.4576582 C183.332266,99.4576582 181.391316,97.9347595 179.783101,97.6702785 C179.783101,97.6702785 181.719785,97.1157215 183.916684,99.3766076 L186.130646,99.150519 C186.130646,99.150519 183.669266,97.0176076 182.257278,96.6592785 C182.257278,96.6592785 184.317671,96.3990633 186.693734,99.1377215 L188.877835,99.2358354 C188.877835,99.2358354 186.902759,97.2223671 185.413987,96.4971772 C185.413987,96.4971772 187.372,96.6678101 189.504911,99.2827595 L190.959557,99.5173797 C190.959557,99.5173797 189.487848,98.0755316 189.027139,97.7001392 C188.56643,97.3247468 188.630418,97.1669114 188.630418,97.1669114 C189.817164,97.6924325 190.834678,98.5371611 191.56957,99.606962 C191.56957,99.606962 194.534316,100.293759 194.589772,100.118861 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <path d="M237.934797,9.63649367 C237.934797,9.63649367 224.915506,-0.10664557 220.261494,10.447 C220.261494,10.447 218.840975,11.9187089 219.860506,13.6804937 C219.860506,13.6804937 220.34681,12.9936962 221.566835,14.1326709 C222.001236,14.5326217 222.48083,14.8805067 222.995886,15.1692658 C223.6925,15.5575122 224.496962,15.7073188 225.286633,15.5958481 L225.286633,15.5958481 C225.286633,15.5958481 230.132608,16.5300633 235.712304,11.2745696 C235.712304,11.2745696 237.704443,10.638962 237.887873,10.2593038 L234.948722,9.75167089 C234.948722,9.75167089 234.645848,11.914443 233.127215,12.8827848 C233.127215,12.8827848 235.004177,9.87111392 234.517873,9.65355696 C234.419759,9.60663291 232.952316,9.44026582 232.952316,9.44026582 C232.952316,9.44026582 232.389228,13.2112532 230.000367,14.6232405 C230.000367,14.6232405 232.71343,11.3342911 232.380696,9.37201266 L230.149671,9.25256962 C230.149671,9.25256962 229.765747,13.2581772 227.108139,14.9773038 C227.108139,14.9773038 229.825468,11.4409367 229.667633,9.25683544 L227.462203,9.436 C227.462203,9.436 227.010025,13.334962 224.787532,14.7512152 C224.787532,14.7512152 227.517658,10.3488861 226.958835,9.51278481 C226.958835,9.51278481 224.941101,9.79859494 224.442,10.1313291 C224.442,10.1313291 224.05381,12.9211772 222.688747,13.6293038 C222.688747,13.6293038 224.203114,10.4939241 223.895975,10.2721013 C223.895975,10.2721013 221.366342,11.3470886 220.372405,12.5671139 C221.230904,11.3977278 222.381143,10.4740063 223.708278,9.88817722 C222.882272,9.54266917 221.97289,9.44772553 221.093329,9.61516456 C221.093329,9.61516456 222.181114,8.39513924 224.322557,9.63649367 C224.322557,9.63649367 226.327494,8.87717722 226.668759,8.97529114 C226.668759,8.97529114 224.72781,7.45239241 223.119595,7.18364557 C223.119595,7.18364557 225.052013,6.63335443 227.248911,8.88997468 L229.462873,8.66388608 C229.462873,8.66388608 227.005759,6.53097468 225.589506,6.16837975 C225.589506,6.16837975 227.649899,5.91243038 230.030228,8.65108861 L232.214329,8.74493671 C232.214329,8.74493671 230.239253,6.73146835 228.746215,6.0105443 C228.746215,6.0105443 230.708494,6.18117722 232.841405,8.79612658 L234.291785,9.03074684 C234.291785,9.03074684 232.81581,7.60596203 232.355101,7.23910127 C231.894392,6.87224051 231.95838,6.71013924 231.95838,6.71013924 C233.145484,7.23508315 234.163142,8.07993119 234.897532,9.15018987 C234.897532,9.15018987 237.862278,9.79859494 237.934797,9.63649367 Z" id="Path" class="primary" fill-rule="nonzero" opacity="0.1"></path>
        <ellipse id="Oval" class="primary" fill-rule="nonzero" opacity="0.1" cx="40.1584557" cy="319.932443" rx="11.4878608" ry="1.94094937"></ellipse>
        <path d="M32.4458481,310.910228 C32.4458481,310.910228 38.9938861,310.709734 40.9774937,309.302013 C42.9611013,307.894291 51.0576329,306.217823 51.5482025,308.474443 C52.0387722,310.731063 61.3937215,319.689291 53.9967848,319.749013 C46.5998481,319.808734 36.8097848,318.597241 34.8389747,317.394278 C32.8681646,316.191316 32.4458481,310.910228 32.4458481,310.910228 Z" id="Path" fill="#A8A8A8" fill-rule="nonzero"></path>
        <path d="M54.1204937,318.964101 C46.723557,319.023823 36.9334937,317.812329 34.9626835,316.609367 C33.4611139,315.696481 32.8638987,312.416063 32.6634051,310.901696 L32.4458481,310.901696 C32.4458481,310.901696 32.8724304,316.187051 34.830443,317.385747 C36.7884557,318.584443 46.5913165,319.800203 53.9882532,319.740481 C56.1211646,319.740481 56.8591519,318.964101 56.8207595,317.837924 C56.5221519,318.524722 55.7073797,318.951304 54.1204937,318.964101 Z" id="Path" fill="#000000" fill-rule="nonzero" opacity="0.2"></path>
        <polygon id="Rectangle" fill="#E0E0E0" fill-rule="nonzero" transform="translate(191.106724, 167.347664) rotate(-12.110000) translate(-191.106724, -167.347664) " points="108.41093 52.6225494 273.98525 52.4902957 273.802519 282.072778 108.228198 282.205032"></polygon>
        <g id="Group" opacity="0.5" transform="translate(89.546894, 41.915493)" fill="url(#linearGradient-1)" fill-rule="nonzero">
            <polygon id="Rectangle" transform="translate(101.562079, 125.433631) rotate(-12.110000) translate(-101.562079, -125.433631) " points="21.6611608 14.5863937 181.639553 14.4586098 181.462998 236.280868 21.4846057 236.408652"></polygon>
        </g>
        <polygon id="Rectangle" fill="#FAFAFA" fill-rule="nonzero" transform="translate(190.936055, 166.549505) rotate(-12.110000) translate(-190.936055, -166.549505) " points="113.06962 58.1511378 268.975146 58.0266071 268.802491 274.947872 112.896965 275.072402"></polygon>
        <polygon id="Rectangle" fill="url(#linearGradient-2)" fill-rule="nonzero" transform="translate(168.465761, 60.438389) rotate(-12.110000) translate(-168.465761, -60.438389) " points="129.801854 51.0684185 207.144634 51.0066404 207.129669 69.8083591 129.786889 69.8701372"></polygon>
        <path d="M162.660305,33.2869014 C156.822899,34.5456338 153.129537,40.4285915 154.413691,46.4256338 C155.697844,52.4226761 161.467065,56.2711268 167.293106,55.0123944 C173.119147,53.753662 176.823873,47.8707042 175.53972,41.873662 C174.255566,35.8766197 168.49771,32.028169 162.660305,33.2869014 Z M166.323362,50.4376056 C163.799951,51.0417482 161.163216,50.0535517 159.651523,47.9371308 C158.13983,45.8207099 158.053546,42.9965892 159.433194,40.7911406 C160.812842,38.585692 163.384293,37.4371294 165.939842,37.8848849 C168.495392,38.3326405 170.527262,40.2877467 171.081169,42.8319718 C171.459069,44.4742255 171.169531,46.1999562 170.276617,47.627332 C169.383702,49.0547078 167.961024,50.0660553 166.323362,50.4376056 Z" id="Shape" fill="url(#linearGradient-3)" fill-rule="nonzero"></path>
        <polygon id="Rectangle" class="primary" fill-rule="nonzero" transform="translate(168.210511, 59.244469) rotate(-12.110000) translate(-168.210511, -59.244469) " points="130.360846 50.2882848 206.07448 50.227808 206.060175 68.2006541 130.346541 68.2611309"></polygon>
        <path d="M162.660305,33.2869014 C156.947368,34.5178691 153.310056,40.1649484 154.536027,45.9001828 C155.761997,51.6354171 161.387026,55.2871148 167.100058,54.0565921 C172.813089,52.8260694 176.450838,47.1792735 175.225311,41.4439437 C174.636731,38.6894561 172.982208,36.2825437 170.625771,34.7527742 C168.269333,33.2230048 165.404037,32.6957087 162.660305,33.2869014 L162.660305,33.2869014 Z M166.160475,49.6770423 C163.74554,50.1972391 161.25626,49.2057568 159.853472,47.1649574 C158.450684,45.1241581 158.410669,42.4359803 159.752088,40.3540133 C161.093506,38.2720464 163.552164,37.2063369 165.981504,37.6538617 C168.410845,38.1013865 170.332406,39.9740048 170.850097,42.3984507 C171.556862,45.7083588 169.457399,48.9668578 166.160475,49.6770423 L166.160475,49.6770423 Z" id="Shape" class="primary" fill-rule="nonzero"></path>
        <rect id="Rectangle" fill="#E0E0E0" fill-rule="nonzero" x="157.690365" y="65.4587324" width="165.545944" height="229.62169"></rect>
        <g id="Group" opacity="0.5" transform="translate(160.383678, 69.295775)" fill="url(#linearGradient-4)" fill-rule="nonzero">
            <rect id="Rectangle" x="0.106065773" y="0.0456338028" width="159.950974" height="221.860141"></rect>
        </g>
        <rect id="Rectangle" fill="#FFFFFF" fill-rule="nonzero" x="162.523934" y="70.9766197" width="155.878806" height="216.95831"></rect>
        <rect id="Rectangle" fill="url(#linearGradient-5)" fill-rule="nonzero" x="202.00313" y="61.5684507" width="77.329525" height="18.8049296"></rect>
        <path d="M240.667893,43.2122535 C234.697905,43.2122535 229.85676,48.186338 229.85676,54.3240845 C229.85676,60.461831 234.697905,65.4359155 240.667893,65.4359155 C246.637881,65.4359155 251.479026,60.461831 251.479026,54.3240845 C251.479026,48.186338 246.637881,43.2122535 240.667893,43.2122535 Z M240.667893,60.7356338 C238.071822,60.7974822 235.696911,59.2751817 234.660457,56.8849126 C233.624003,54.4946435 234.132383,51.7123498 235.946424,49.8469875 C237.760466,47.9816252 240.518962,47.4046202 242.924153,48.3874298 C245.329344,49.3702395 246.902314,51.7171694 246.903045,54.3240845 C246.928316,57.8113557 244.141477,60.6634384 240.667893,60.7052113 L240.667893,60.7356338 Z" id="Shape" fill="url(#linearGradient-6)" fill-rule="nonzero"></path>
        <rect id="Rectangle" class="primary" fill-rule="nonzero" x="202.817564" y="60.7622535" width="75.7006577" height="17.9759155"></rect>
        <path d="M240.667893,43.2122535 C236.388658,43.2122535 232.530784,45.8000423 230.893191,49.768938 C229.255599,53.7378337 230.160784,58.3062302 233.18666,61.3438915 C236.212536,64.3815527 240.763209,65.2902633 244.716707,63.6462929 C248.670205,62.0023225 251.247954,58.1294229 251.247954,53.8335211 C251.247954,47.967557 246.511099,43.2122535 240.667893,43.2122535 L240.667893,43.2122535 Z M240.667893,59.963662 C237.298408,59.9594548 234.569124,57.2161253 234.56913,53.8335149 C234.569136,50.4509044 237.29843,47.7075848 240.667915,47.7033897 C244.037399,47.6991947 246.773463,50.4357099 246.781827,53.8183099 C246.780823,55.4447839 246.135993,57.0041856 244.989299,58.1532063 C243.842605,59.302227 242.288056,59.9466662 240.667893,59.9446479 L240.667893,59.963662 Z" id="Shape" class="primary" fill-rule="nonzero"></path>
        <g id="Group" opacity="0.5" transform="translate(62.272838, 301.267606)" fill="#47E6B1" fill-rule="nonzero">
            <rect id="Rectangle" x="3.51153471" y="0.0190140845" width="1.42431181" height="8.11140845"></rect>
            <polygon id="Rectangle" transform="translate(4.225585, 4.076620) rotate(90.000000) translate(-4.225585, -4.076620) " points="3.51065508 0.036650169 4.94051423 0.036650169 4.94051423 8.11658927 3.51065508 8.11658927"></polygon>
        </g>
        <g id="Group" opacity="0.5" transform="translate(227.432400, 21.000000)" fill="#47E6B1" fill-rule="nonzero">
            <rect id="Rectangle" x="3.59487211" y="0" width="1.42431181" height="8.11140845"></rect>
            <polygon id="Rectangle" transform="translate(4.308922, 4.053803) rotate(90.000000) translate(-4.308922, -4.053803) " points="3.59399247 0.0138332676 5.02385162 0.0138332676 5.02385162 8.09377237 3.59399247 8.09377237"></polygon>
        </g>
        <path d="M404.837058,291.243454 C404.023799,290.888055 403.605106,289.977082 403.863526,289.125285 C403.883673,289.062349 403.896387,288.997255 403.901406,288.931341 L403.901406,288.931341 C403.924615,288.544625 403.692728,288.188304 403.330638,288.054291 C402.968547,287.920278 402.561757,288.040217 402.32936,288.34951 L402.32936,288.34951 C402.289969,288.402485 402.256913,288.45992 402.23087,288.520637 C401.87685,289.337064 400.969412,289.757387 400.120919,289.497961 C400.058227,289.477735 399.993386,289.464972 399.927728,289.459933 L399.927728,289.459933 C399.542512,289.436633 399.187574,289.669424 399.05408,290.032924 C398.920587,290.396425 399.040061,290.8048 399.348154,291.038102 L399.348154,291.038102 C399.400923,291.077646 399.458136,291.110831 399.518617,291.136975 C400.331876,291.492374 400.750569,292.403346 400.492149,293.255144 C400.472002,293.31808 400.459288,293.383174 400.454269,293.449088 L400.454269,293.449088 C400.43106,293.835804 400.662947,294.192124 401.025037,294.326138 C401.387127,294.460151 401.793918,294.340212 402.026315,294.030919 L402.026315,294.030919 C402.065706,293.977944 402.098762,293.920508 402.124805,293.859792 C402.478825,293.043365 403.386263,292.623042 404.234756,292.882468 C404.297448,292.902693 404.362289,292.915457 404.427947,292.920496 L404.427947,292.920496 C404.813163,292.943795 405.168101,292.711005 405.301595,292.347505 C405.435088,291.984004 405.315614,291.575629 405.007521,291.342327 L405.007521,291.342327 C404.954752,291.302783 404.897539,291.269598 404.837058,291.243454 Z" id="Path" fill="#4D8AF0" fill-rule="nonzero" opacity="0.5"></path>
        <path d="M111.771462,236.809859 C110.958202,236.45446 110.53951,235.543488 110.797929,234.69169 C110.818076,234.628754 110.83079,234.56366 110.83581,234.497746 L110.83581,234.497746 C110.859019,234.11103 110.627132,233.75471 110.265041,233.620696 C109.902951,233.486683 109.496161,233.606622 109.263764,233.915915 L109.263764,233.915915 C109.224373,233.96889 109.191317,234.026326 109.165274,234.087042 C108.811254,234.903469 107.903816,235.323792 107.055323,235.064366 C106.992631,235.044141 106.92779,235.031377 106.862132,235.026338 L106.862132,235.026338 C106.476916,235.003039 106.121978,235.235829 105.988484,235.59933 C105.854991,235.96283 105.974464,236.371205 106.282558,236.604507 L106.282558,236.604507 C106.335327,236.644051 106.39254,236.677236 106.453021,236.70338 C107.26628,237.058779 107.684972,237.969752 107.426553,238.821549 C107.406406,238.884485 107.393692,238.949579 107.388672,239.015493 L107.388672,239.015493 C107.365464,239.402209 107.597351,239.75853 107.959441,239.892543 C108.321531,240.026557 108.728322,239.906617 108.960719,239.597324 L108.960719,239.597324 C109.000109,239.54435 109.033166,239.486914 109.059208,239.426197 C109.413228,238.60977 110.320667,238.189447 111.16916,238.448873 C111.231851,238.469099 111.296693,238.481862 111.362351,238.486901 L111.362351,238.486901 C111.747567,238.510201 112.102505,238.27741 112.235998,237.91391 C112.369492,237.550409 112.250018,237.142034 111.941924,236.908732 L111.941924,236.908732 C111.889156,236.869188 111.831943,236.836003 111.771462,236.809859 Z" id="Path" fill="#FDD835" fill-rule="nonzero" opacity="0.5"></path>
        <path d="M311.936516,46.9276056 C311.123257,46.5722068 310.704565,45.6612343 310.962984,44.8094366 C310.983131,44.7465006 310.995845,44.6814068 311.000865,44.615493 L311.000865,44.615493 C311.024074,44.2287768 310.792187,43.8724563 310.430096,43.7384428 C310.068006,43.6044294 309.661215,43.7243685 309.428819,44.033662 L309.428819,44.033662 C309.389428,44.0866364 309.356372,44.1440721 309.330329,44.2047887 C308.976309,45.0212155 308.068871,45.4415386 307.220378,45.1821127 C307.157686,45.1618871 307.092844,45.1491236 307.027186,45.1440845 L307.027186,45.1440845 C306.64197,45.1207853 306.287032,45.3535754 306.153539,45.717076 C306.020045,46.0805766 306.139519,46.4889515 306.447613,46.7222535 L306.447613,46.7222535 C306.500382,46.7617975 306.557594,46.7949826 306.618076,46.8211268 C307.431335,47.1765256 307.850027,48.0874981 307.591608,48.9392958 C307.571461,49.0022318 307.558747,49.0673256 307.553727,49.1332394 L307.553727,49.1332394 C307.530518,49.5199556 307.762405,49.8762761 308.124496,50.0102896 C308.486586,50.144303 308.893377,50.0243639 309.125773,49.7150704 L309.125773,49.7150704 C309.165164,49.662096 309.19822,49.6046603 309.224263,49.5439437 C309.578283,48.7275169 310.485721,48.3071938 311.334214,48.5666197 C311.396906,48.5868453 311.461748,48.5996088 311.527406,48.6046479 L311.527406,48.6046479 C311.912621,48.6279471 312.26756,48.395157 312.401053,48.0316564 C312.534547,47.6681558 312.415073,47.2597809 312.106979,47.0264789 L312.106979,47.0264789 C312.05421,46.9869349 311.996997,46.9537498 311.936516,46.9276056 L311.936516,46.9276056 Z" id="Path" fill="#FDD835" fill-rule="nonzero" opacity="0.5"></path>
        <ellipse id="Oval" fill="#F55F44" fill-rule="nonzero" opacity="0.5" cx="367.833179" cy="140.587183" rx="2.85241169" ry="2.86352113"></ellipse>
        <ellipse id="Oval" fill="#F55F44" fill-rule="nonzero" opacity="0.5" cx="147.401985" cy="304.937324" rx="2.85241169" ry="2.86352113"></ellipse>
        <ellipse id="Oval" fill="#F55F44" fill-rule="nonzero" opacity="0.5" cx="338.540085" cy="202.481831" rx="2.85241169" ry="2.86352113"></ellipse>
        <ellipse id="Oval" fill="#4D8AF0" fill-rule="nonzero" opacity="0.5" cx="93.0091839" cy="57.6401408" rx="2.85241169" ry="2.86352113"></ellipse>
        <ellipse id="Oval" fill="#47E6B1" fill-rule="nonzero" opacity="0.5" cx="62.8524117" cy="135.753803" rx="2.85241169" ry="2.86352113"></ellipse>
    </g>
</svg>