{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/svg/leaderboard-countdown

  VPL CC module svg template used by the mod_vplcc/partials/leaderboard/countdown template.
  SVG credits: undraw.co

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
<svg id="a490d581-c356-41e2-b0f0-0de4275777d8" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1144 652.52">
    <defs>
        <linearGradient id="e151d6ee-b0bf-4b5d-8ce9-000e8108dac8" x1="836.51" y1="628.67" x2="836.51" y2="226.37"
                        gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="gray" stop-opacity="0.25"/>
            <stop offset="0.54" stop-color="gray" stop-opacity="0.12"/>
            <stop offset="1" stop-color="gray" stop-opacity="0.1"/>
        </linearGradient>
        <linearGradient id="e2a6fc7a-3d7b-4d78-8350-c6ea621e07cc" x1="178.62" y1="535.35" x2="400.84" y2="535.35"
                        xlink:href="#e151d6ee-b0bf-4b5d-8ce9-000e8108dac8"/>
    </defs>
    <title>winners</title>
    <path d="M715.72,594.05c22.1-1.26,49.52-16.25,70.84-22.88q37.85-11.74,76-22.59,132.81-37.79,268.47-64.4,12.66-2.49,25.36-4.86a179.51,179.51,0,0,0-59.26-71.17,182.06,182.06,0,0,0,1-18.78c0-99.14-79.23-179.51-177-179.51a174.18,174.18,0,0,0-85.9,22.55c-69.2-45.52-159.52-73.07-258.34-73.07-140.42,0-263.69,55.63-333.54,139.4L571.63,354.2l201.34,34c-229.53,6.85-459.77,13.66-688.64-2.42a181.42,181.42,0,0,0-26.12,229h0c0,3.59.15,7.15.42,10.68,5.83,1.67,11.46,3.29,16.51,4.35q121.61,25.69,244.78,43c-60.51,37.31-134.2,42.59-204,58.39,33.8,27.9,79.7,45,130.28,45H999.32c81.55,0,147.65-56.77,147.65-126.81h0a180.19,180.19,0,0,0,24-65.89C1020.07,598.07,867.29,585.42,715.72,594.05Z"
          transform="translate(-28 -123.74)" class="primary" opacity="0.1"/>
    <path d="M1172,553.67a180,180,0,0,0-76-147.42,184.71,184.71,0,0,0,1-18.77C1097,288.34,1017.73,208,920,208a174.28,174.28,0,0,0-85.91,22.54C764.89,185,674.56,157.44,575.74,157.44,415,157.44,276.64,230.39,215.28,335c-3.41-.2-6.84-.31-10.3-.31-97.74,0-177,80.37-177,179.51a180.53,180.53,0,0,0,29.12,98.67h0c0,89.2,84.19,161.51,188,161.51H998.24c81.54,0,147.64-56.78,147.64-126.82h0A180.52,180.52,0,0,0,1172,553.67Z"
          transform="translate(-28 -123.74)" class="primary" opacity="0.1"/>
    <path d="M962.28,443.69a11.14,11.14,0,0,0-4.88-2.14c-1.87-.43-3.78-.7-5.68-1L927.1,437a29,29,0,0,0-7.54-.4A9.57,9.57,0,0,0,913,440a5.11,5.11,0,0,0-1.14,3.2,8.44,8.44,0,0,0,1.12,3.32,11.1,11.1,0,0,1,.61,1.47,33.6,33.6,0,0,0,.88,3.35,2.84,2.84,0,0,0,.42.66,1.09,1.09,0,0,1,0,.17c-.27,1.38.6,2.82.21,4.15-.34,1.14-1.45,1.83-2.15,2.78a4.18,4.18,0,0,0-.1,4.61c.75,1.16,2.11,1.95,2.5,3.28.51,1.75-.87,3.44-2.1,4.79a74.23,74.23,0,0,0-6.26,7.89,4.89,4.89,0,0,0-1,2.35c-.11,1.74,1.56,3.27,1.27,5-.23,1.36-1.56,2.19-2.71,3-4.25,2.8-7.66,7.3-8,12.39a43.4,43.4,0,0,0-9.68-22c-1.43-1.72-3-3.45-3.59-5.63-.22-.87-.26-1.8-.56-2.64-1-2.65-4.18-3.79-5.57-6.23-1-1.72-1-3.93-2.24-5.44s-3.19-1.85-4.26-3.31a21.18,21.18,0,0,1-1.36-3.08,6.73,6.73,0,0,0-1.85-2.22,5.4,5.4,0,0,0-.46-.33,1.59,1.59,0,0,0,.53-1.18c0-1.17-1.16-1.94-2.17-2.52-1.3-.74-2.57-1.54-3.81-2.37a8.91,8.91,0,0,0,3.41-2.79,9.17,9.17,0,0,0,1.3-6,7.57,7.57,0,0,0-1.79-4.59c-.63-.67-1.42-1.15-2.08-1.78-1.71-1.67-2.29-4.14-3-6.42-.94-3-2.41-6.15-5.15-7.74-1.32-.77-2.86-1.13-4.15-1.94s-2.37-2.34-1.92-3.81c.3-1,1.23-1.69,1.86-2.54a5.06,5.06,0,0,0-1.27-7c-.74-.47-1.65-.88-1.8-1.74a3.18,3.18,0,0,1-2.32-2.46,9.48,9.48,0,0,1,0-3.56q.39-2.79.77-5.56a3.62,3.62,0,0,0,2.78,0,24.48,24.48,0,0,0,3,3.92,39.17,39.17,0,0,1,7,12.15c.57,1.6,1.15,3.39,2.63,4.24.51.29,1.09.44,1.59.75a5.94,5.94,0,0,1,1.56,1.6c1.2,1.59,2.4,3.17,3.59,4.76l.06.24a1.4,1.4,0,0,0,.16.4,1.33,1.33,0,0,0,.86.44c3.68.85,7.81,1.63,11-.38,2.88-1.8,4.14-5.36,6.58-7.74,1.73-1.69,4.18-3,4.67-5.38a17.7,17.7,0,0,1-1.72-.63c.5-.5,1-1.08,1.68-1.74a21.18,21.18,0,0,0,2.66-3.17,20.43,20.43,0,0,0,2-4.48q2.89-8.24,5.8-16.49c.92-2.6,1.84-5.22,3-7.75,1.2-2.74,2.62-5.37,3.93-8.06A107,107,0,0,0,916,338.31a8,8,0,0,0,.31-3.19c-.28-1.73-1.59-3.09-2.84-4.32a20.84,20.84,0,0,0-4.26-3.53,7,7,0,0,0-5.34-.86c-2.56.75-4.17,3.37-4.76,6s-.37,5.34-.62,8c-.36,3.85-1.68,7.57-2,11.43-.17,2.23,0,4.49-.27,6.72a24.52,24.52,0,0,1-3,8.28,53.6,53.6,0,0,1-12.93,15.94c-.61.51-1.24,1-1.84,1.55,0-.43.07-.87.13-1.3a7.84,7.84,0,0,0-1.27.45,3.81,3.81,0,0,0-.15-1.5c-.8-2.39-4.36-3-5-5.43a11.1,11.1,0,0,1-.17-1.82c-.21-2.13-1.66-3.93-2.16-6-.46-1.91-.11-4-1-5.77a16.13,16.13,0,0,0-2.66-3,11.77,11.77,0,0,1-2.53-4.77c-.13-.49-.25-1-.39-1.49a6.82,6.82,0,0,0-.36-3.29c-.91-2.26-3.26-3.71-4.11-6-.66-1.78-.37-4-1.62-5.38a5.85,5.85,0,0,0-2.37-1.43,52.73,52.73,0,0,0-14.27-3.37c-2.74-.25-5.76-.39-7.72-2.32-2.29-2.24-2.4-6.27-5.08-8-2.36-1.53-5.7-.4-7.53,1.75a9.53,9.53,0,0,0-.76,1,10.7,10.7,0,0,1-.21-4.1c0-.34.07-.69.1-1A20,20,0,0,0,830.16,313s0,0,0,.06l.12.31c.29.73.75,1.43,1.43,1.51h0a2,2,0,0,0,1.24-.45,10.27,10.27,0,0,0,1.66-1.44q.38-.42.72-.87a11.33,11.33,0,0,0,1.18-2,11.88,11.88,0,0,0,1-3.35c.18-1.16.2-2.35.4-3.51a21.61,21.61,0,0,1,.73-2.65c.1-.29.2-.58.29-.87s.22-.68.32-1a23.17,23.17,0,0,0,1-6.34q0-.54,0-1.08a10.55,10.55,0,0,0-3.36-7.45c-1.72-1.41-4-2-5.26-3.91-.82-1.28-1-2.93-1.48-4.43a10,10,0,0,0-7.86-7.07,8.75,8.75,0,0,0-6.22,1.71h0l-.14.11h0a10,10,0,0,0-2.48,2.76,8.25,8.25,0,0,1-3.52-2c-1-.93-1.77-2.1-2.78-3a7.15,7.15,0,0,0-7.12-1.5,8.51,8.51,0,0,0-5.09,5.83c-.55,2.06-.45,4.43-1.6,6.15-.89,1.34-2.35,2-3.37,3.22a6.06,6.06,0,0,0-1.26,2.67h0a7.23,7.23,0,0,0-.17,1.67v0c0,.25,0,.5.06.74,0,0,0,.08,0,.12a5.29,5.29,0,0,0,.17.81h0a7,7,0,0,0,1.49,2.74,6.58,6.58,0,0,0,2.41,1.74,9.76,9.76,0,0,0,1.16.37l1.19.27.42.1a19.94,19.94,0,0,0-.56,17.61c0,.28-.07.56-.1.84a69.17,69.17,0,0,0,.52,11.79c.14,1.55.22,3.26-.73,4.49a8.52,8.52,0,0,1-1.45,1.29c.54-.7,1.09-1.39,1.65-2.08-1.41-1.42-3.64-1.6-5.64-1.46a26.13,26.13,0,0,0-11,3.36c-2.24,1.29-4.54,3-7.1,2.7-1.51-.17-3-1-4.47-.6a9.06,9.06,0,0,0-2.29,1.36,3.1,3.1,0,0,1-1.88.58c-1.57-1.93-4-3.24-5.88-4.81a46.33,46.33,0,0,1-5.85-6.27c-3.24-3.91-6.47-7.83-9.65-11.78-2.68-3.32-5.43-6.91-5.9-11.16a10.93,10.93,0,0,1-.07-1.27,32.3,32.3,0,0,1,.76-6,3,3,0,0,0,0-1.45c-.3-1-1.45-1.37-2.44-1.59h0c.13-.77.22-1.56.27-2.31.56-8.6-.05-17.34,1.77-25.76.69-3.24,1.82-6.52,4.15-8.87,3.65-3.69,9.76-4.58,12.56-8.95,2.34-3.64,1.41-8.79-1.53-12s-7.47-4.52-11.78-4.36a6.08,6.08,0,0,0-3.43.92,7.29,7.29,0,0,0-2.08,3.16L729,240.78a63.08,63.08,0,0,0-3.14,8.38c-1.2,4.38-1.47,9-2.42,13.42,0,3.4-2.19,7.64-3.39,10.77-1.34,3.52-2.79,7-4,10.59-.3.9-1.35,3.57-2,6a3.66,3.66,0,0,0-.68.51,18.09,18.09,0,0,0-1.42,2.11c-.91,1.2-2.39,1.84-3.39,3s-1.21,3.29.18,3.87a4.08,4.08,0,0,0,.87.19,3.38,3.38,0,0,1,.54.09c1.5.42,2.09,2.31,1.87,3.87s-1,3-1.13,4.56c-.27,2.76,1.35,5.33,2.91,7.65a65.94,65.94,0,0,0,5.34,7.19c1.41,1.58,3,3,4.42,4.52,5.41,5.56,9.71,12.06,14.57,18.1a40.13,40.13,0,0,0,5.93,6.22,44.65,44.65,0,0,0,4.49,3.09l8.36,5.3a9.16,9.16,0,0,0,3.16,1.49,4.2,4.2,0,0,0,1.12,0c.05.25.09.49.15.74.65,2.62,2.08,5,2.24,7.67s-.08,5.4.11,8.1c.18,2.49.73,5,.87,7.45.28,4.72-.88,9.38-2,14-1.69,6.76-2.71,13.66-6,19.79-.92,1.69-2,3.41-2,5.34,0,.23,0,.47.06.7h0l-1.5.85c-.44.25-.88.5-1.28.76-1.9,1.24-3.93,2.61-4.71,4.75-.63,1.73-.34,3.71-1.1,5.39a2.39,2.39,0,0,1-.12.22c-.8,1.56-2.39,2.72-2.75,4.43v0c-.27,1.31.25,2.7,0,4,0,0,0,0,0,.05a14.47,14.47,0,0,0-.54,2,2.39,2.39,0,0,0,.06.66,3.81,3.81,0,0,0,1.2,1.95,8,8,0,0,0,1.17.93q.64.42,1.32.78l.26.14c.38.2.76.39,1.15.57l.26.11c.45.2.91.38,1.37.54l.32.1c.36.12.73.23,1.1.32l.25.08.23.05,1,.21.37.07q.66.11,1.35.18l.4,0c.34,0,.67.05,1,.06h.47c.35,0,.69,0,1,0h.36c.47,0,.94-.07,1.41-.13l.15,0c.42-.06.84-.13,1.26-.22l.32-.07c.39-.09.78-.18,1.17-.3l.21-.06c.47-.14.94-.29,1.4-.47a36.74,36.74,0,0,0,4.62-2.29c1-.55,2-1.11,3-1.62a23.29,23.29,0,0,1,2.28-1,12.87,12.87,0,0,1,6-1,23.5,23.5,0,0,1,3,.61c0,.11,0,.22,0,.33q1.22,7.2,2.41,14.4a29.32,29.32,0,0,1,4.14-2.49,9.21,9.21,0,0,0-.53,2.25,8.92,8.92,0,0,0,0,1.79c.09.95.29,2-.28,2.75-.35.46-1,.72-1.19,1.24a4.23,4.23,0,0,0-.1,1.63,2.6,2.6,0,0,1-2.38,2.42,3.8,3.8,0,0,1-1.51,4.46,5.28,5.28,0,0,0-1.16.76,3.46,3.46,0,0,0-.67,1.51,26.72,26.72,0,0,1-7.83,12.87,25.17,25.17,0,0,0-3.87,3.78,17.21,17.21,0,0,0-1.75,3.45q-4,9.78-8.12,19.57c-1.52,3.65-3,7.36-3.48,11.29-1.2,10.78-10.8,19.92-9,30.62a15,15,0,0,0,3.12,7.31c2,2.41,5,3.79,8,4.91,7.71,3,15.84,4.64,23.94,6.29l12.72,2.61a55.6,55.6,0,0,0,7.58,1.2c3.07.21,6.22-.08,9.21.7,1.85.48,3.62,1.37,5.53,1.47,1.64.09,3.66-.26,4.63,1.08s.22,3.11,1.14,4.3c1.48,1.89,5.09,0,6.7,1.78a8.29,8.29,0,0,1,1,2.21,4,4,0,0,0,1,1.26,8.45,8.45,0,0,1,.12,1.71,29.49,29.49,0,0,1-1.44,6.82q-1.8,6.09-3.59,12.19a27,27,0,0,0-1,4.4,10.57,10.57,0,0,0,0,2.18c.21,2.21,1.48,4.49,3.59,5.21a6.58,6.58,0,0,0,4.86-.6,21.48,21.48,0,0,0,4-2.7,27.31,27.31,0,0,0,5.77-5.94c5-7.48,3.38-17.6,6.89-25.87,2.33-5.52,6.87-10,8.38-15.82a6.33,6.33,0,0,0,.12-3.42c-.63-2-2.76-3.14-4.75-3.86l-.09,0a41,41,0,0,0-5-1.43c-.42-.09-.85-.16-1.28-.23a7.85,7.85,0,0,1-2.21-2.88,6.7,6.7,0,0,0-.47-1.73,1.8,1.8,0,0,0-1.44-.8c-1-.1-2.34.26-3.43.18-2.23-.16-3.71-2.35-5.71-3.36s-4.17-.76-6.3-.61a5.83,5.83,0,0,1-2.28-.14,8.57,8.57,0,0,1-2.4-1.65,10.06,10.06,0,0,0-8.81-1.77,9.6,9.6,0,0,1-3,.68c-1.95-.11-3.33-1.85-4.77-3.17-3.94-3.61-9.55-4.56-14.33-6.93a3.27,3.27,0,0,1-1.72-1.48c-.55-1.36.69-2.72,1.81-3.65l8.22-6.83c9-7.48,20.25-13.11,24.43-24.08a13.93,13.93,0,0,1,2-4.11,5.58,5.58,0,0,1,1.11-1,8.4,8.4,0,0,1,6.15-1.2,20.77,20.77,0,0,1,7.24,3.16q5.37,3.25,10.45,7A92.45,92.45,0,0,1,862,522c5.25,5,9.62,10.93,14.51,16.32s10.48,10.42,17.27,13,15,2.47,20.83-1.86c6.73-5,8.89-13.94,10.59-22.14,3.75-3.62,4.88-9.13,6.71-14,1.15-3.09,2.62-6,3.86-9.08,1.48-3.62,2.64-7.36,3.8-11.09a53.33,53.33,0,0,0,2.66-11.57c.48-6.23-1.19-12.86.56-18.71,2.31-.51,4.41-1.81,6.68-2.57,3.38-1.11,7-.93,10.58-.91h.23a5.46,5.46,0,0,0,3.52-.83c1.2-1,1.39-2.71,1.45-4.26C965.39,450.47,965.15,446.17,962.28,443.69ZM817.39,273.11a7.43,7.43,0,0,1-2.53.18Z"
          transform="translate(-28 -123.74)" fill="url(#e151d6ee-b0bf-4b5d-8ce9-000e8108dac8)"/>
    <path d="M821.33,336.37a11,11,0,0,1-4.16,2.21l-7.09,2.54c-3.85,1.38-7.87,2.77-11.93,2.27-2.27-.28-12-1.71-13.47-3.48-2.24-2.74,5.61-6.77,8.29-9.08a11.34,11.34,0,0,0,1.68-1.48c1-1.22.87-2.93.73-4.47a69,69,0,0,1-.52-11.77,23.72,23.72,0,0,1,.4-2.79c1-4.6,5.28-2.92,8.66-1.7a67.71,67.71,0,0,1,11.75,5.09,8.43,8.43,0,0,1,2.9,2.46c1.48,2.24.89,5.18.65,8-.21,2.19-.2,4.29,1.17,5.88a15.14,15.14,0,0,1,1.89,2A3.75,3.75,0,0,1,821.33,336.37Z"
          transform="translate(-28 -123.74)" fill="#be6f72"/>
    <path d="M723.39,264.3c1-4.43,1.22-9,2.42-13.39a62.69,62.69,0,0,1,3.14-8.35l4.41-10.29a7.26,7.26,0,0,1,2.08-3.15,6.16,6.16,0,0,1,3.43-.92c4.31-.16,8.84,1.18,11.78,4.35s3.87,8.3,1.53,11.93c-2.8,4.37-8.91,5.25-12.56,8.93-2.33,2.35-3.46,5.62-4.15,8.85-1.82,8.4-1.21,17.11-1.77,25.69-.18,2.67-.7,5.72-3,7.1a8.75,8.75,0,0,1-4.48.87l-6.56.11c-1.1,0-5.09.69-5.82-.14-1.28-1.45,1.64-8.67,2.17-10.28,1.18-3.57,2.63-7.05,4-10.56C721.2,271.92,723.39,267.69,723.39,264.3Z"
          transform="translate(-28 -123.74)" fill="#be6f72"/>
    <path d="M858.84,578.46c-1.51,5.78-6.05,10.28-8.38,15.79-3.51,8.25-1.93,18.34-6.89,25.8A27.26,27.26,0,0,1,837.8,626a21.43,21.43,0,0,1-4,2.69,6.58,6.58,0,0,1-4.86.6c-2.11-.72-3.38-3-3.59-5.2a10.49,10.49,0,0,1,0-2.17,26.89,26.89,0,0,1,1-4.39q1.8-6.07,3.59-12.16a29.44,29.44,0,0,0,1.44-6.8c.13-2.52-1.47-5.8-.79-8.15.31-1.06,1.47-2,2-2.89a16.73,16.73,0,0,0,1.72-4.09c.82-2.79,1.38-5.77,3.1-8.12a19.06,19.06,0,0,1,3.9-3.65,10.34,10.34,0,0,1,3.72-2.09,9.11,9.11,0,0,1,4,.19,39.25,39.25,0,0,1,5,1.42l.09,0c2,.72,4.12,1.83,4.75,3.85A6.29,6.29,0,0,1,858.84,578.46Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M965.24,455.52c-.06,1.55-.25,3.28-1.45,4.25a5.46,5.46,0,0,1-3.52.83H960c-3.57,0-7.2-.2-10.58.91-2.57.85-4.93,2.41-7.61,2.72-3.69.42-7.16-1.6-10.43-3.36a103.75,103.75,0,0,0-9.47-4.5c-2.12-.87-6.45-1.43-7.47-3.75a34.14,34.14,0,0,1-.88-3.34,11.1,11.1,0,0,0-.61-1.47,8.45,8.45,0,0,1-1.12-3.31,5.11,5.11,0,0,1,1.14-3.2,9.59,9.59,0,0,1,6.55-3.37,29,29,0,0,1,7.54.4l24.62,3.54c1.9.27,3.81.54,5.68,1a11.14,11.14,0,0,1,4.88,2.14C965.15,447.45,965.39,451.74,965.24,455.52Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M943.6,461.92c-3,6.33-.84,13.82-1.38,20.82a53.07,53.07,0,0,1-2.66,11.54c-1.16,3.72-2.32,7.45-3.8,11.06-1.24,3-2.71,6-3.86,9.06-1.83,4.88-3,10.37-6.71,14-1.7,8.18-3.86,17.12-10.59,22.08-5.85,4.32-14,4.47-20.83,1.86s-12.38-7.61-17.27-13-9.26-11.26-14.51-16.28a91,91,0,0,0-9.57-7.83q-5.08-3.69-10.45-6.94a20.93,20.93,0,0,0-7.24-3.15,8.4,8.4,0,0,0-6.15,1.2,5.58,5.58,0,0,0-1.11,1,13.76,13.76,0,0,0-2,4.1C821.27,522.38,810,528,801,535.46l-8.22,6.81c-1.12.93-2.36,2.29-1.81,3.64a3.27,3.27,0,0,0,1.72,1.48c4.78,2.36,10.39,3.31,14.33,6.91,1.44,1.32,2.82,3.06,4.77,3.16a9.58,9.58,0,0,0,3-.67,10.09,10.09,0,0,1,8.81,1.76,8.57,8.57,0,0,0,2.4,1.65,5.83,5.83,0,0,0,2.28.14c2.13-.15,4.39-.34,6.3.61s3.48,3.19,5.71,3.35c1.09.08,2.39-.28,3.43-.18a1.8,1.8,0,0,1,1.44.8,6.63,6.63,0,0,1,.47,1.72c.41,1.41,1.79,2.27,2.69,3.43,1.38,1.78,1.58,4.2,1.44,6.45A27.52,27.52,0,0,1,841,594.94a10.84,10.84,0,0,1-5.39,3,5,5,0,0,1-5.34-2.37,8.22,8.22,0,0,0-1-2.2c-1.61-1.77-5.22.11-6.7-1.78-.92-1.18-.26-3.07-1.14-4.29s-3-1-4.63-1.07c-1.91-.1-3.68-1-5.53-1.47-3-.78-6.14-.49-9.21-.7a55.6,55.6,0,0,1-7.58-1.2l-12.72-2.6c-8.1-1.65-16.23-3.32-23.94-6.27-2.95-1.12-5.92-2.5-8-4.9a15,15,0,0,1-3.12-7.3c-1.81-10.67,7.79-19.79,9-30.54.43-3.92,2-7.62,3.48-11.26q4.07-9.76,8.12-19.53A17.4,17.4,0,0,1,769,497a25.11,25.11,0,0,1,3.87-3.77,26.63,26.63,0,0,0,7.83-12.84,3.46,3.46,0,0,1,.67-1.51,5.62,5.62,0,0,1,1.16-.75,3.8,3.8,0,0,0,1.51-4.45,2.6,2.6,0,0,0,2.38-2.42,4.18,4.18,0,0,1,.1-1.62c.24-.52.84-.78,1.19-1.24.57-.75.37-1.8.28-2.74a8.92,8.92,0,0,1,0-1.79,9.19,9.19,0,0,1,2.68-5.59c2.39-2.35,5.79-1.74,9.09-2.3a52.07,52.07,0,0,0,9.6-3.07,94.31,94.31,0,0,1,27.11-6.27A59.19,59.19,0,0,1,863.85,451a15.57,15.57,0,0,1,3.53,2,6.69,6.69,0,0,1,1.85,2.21,20.6,20.6,0,0,0,1.36,3.07c1.07,1.46,3.09,1.93,4.26,3.31s1.27,3.71,2.24,5.42c1.39,2.44,4.61,3.57,5.57,6.22.3.84.34,1.76.56,2.63.54,2.18,2.16,3.9,3.59,5.62a43.21,43.21,0,0,1,9.68,22c.32-5.07,3.73-9.56,8-12.36,1.15-.75,2.48-1.58,2.71-2.94.29-1.72-1.38-3.25-1.27-5a4.9,4.9,0,0,1,1-2.34,74,74,0,0,1,6.26-7.87c1.23-1.35,2.61-3,2.1-4.78-.39-1.33-1.75-2.11-2.5-3.27a4.16,4.16,0,0,1,.1-4.6c.7-.95,1.81-1.64,2.15-2.77.39-1.33-.48-2.77-.21-4.14a5.12,5.12,0,0,1,2.06-2.67,17.13,17.13,0,0,1,4.47-2.94c2.64-1,5.58-.63,8.38-.24,4.68.65,9.93,1.65,12.57,5.57C944,455.58,944.86,459.3,943.6,461.92Z"
          transform="translate(-28 -123.74)" fill="#65617d"/>
    <path d="M965.24,455.52c-.06,1.55-.25,3.28-1.45,4.25a5.46,5.46,0,0,1-3.52.83H960c.41-2.08,2.94-3.27,3.38-5.38a4.76,4.76,0,0,0-1.1-3.63c-2.14-2.89-5.58-4.49-9-5.66a59.62,59.62,0,0,0-30.06-2.25,30.27,30.27,0,0,0-7.9,2.43,25.74,25.74,0,0,0-2.4,1.7,8.45,8.45,0,0,1-1.12-3.31,5.11,5.11,0,0,1,1.14-3.2,9.59,9.59,0,0,1,6.55-3.37,29,29,0,0,1,7.54.4l24.62,3.54c1.9.27,3.81.54,5.68,1a11.14,11.14,0,0,1,4.88,2.14C965.15,447.45,965.39,451.74,965.24,455.52Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M858.84,578.46c-1.51,5.78-6.05,10.28-8.38,15.79-3.51,8.25-1.93,18.34-6.89,25.8A27.26,27.26,0,0,1,837.8,626a21.43,21.43,0,0,1-4,2.69,6.58,6.58,0,0,1-4.86.6c-2.11-.72-3.38-3-3.59-5.2a10.49,10.49,0,0,1,0-2.17l.06.16c.87,2.1,2.29,4.3,4.53,4.67a6.13,6.13,0,0,0,4.62-1.63c3.3-2.65,5.22-6.6,7.05-10.41a43.3,43.3,0,0,0,3.38-8.63c.4-1.7.59-3.44,1-5.14,1.9-8.26,8.37-15,9.8-23.37a5.72,5.72,0,0,0,.08-1.75,8.84,8.84,0,0,0-.86-2.18,10.8,10.8,0,0,1-.76-2.42c2,.72,4.12,1.83,4.75,3.85A6.29,6.29,0,0,1,858.84,578.46Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M843.74,564.12a14.49,14.49,0,0,1-4.51,6.16,22,22,0,0,1-9.71,4.2,9.66,9.66,0,0,1-5-.06c-2.22-.77-3.82-2.85-6.09-3.45-1.62-.44-3.36-.05-5-.29-2.95-.41-5.24-2.66-7.62-4.46-7.29-5.48-16.86-7.25-24.15-12.73a2.24,2.24,0,0,1-.78-.81,2.41,2.41,0,0,1-.15-1.13,23,23,0,0,1,2.19-9.61,33.53,33.53,0,0,1,4.12-5.87c6.53-8,13.09-16.06,20.91-22.81,3.28-2.83,6.86-5.47,11-6.75,2.3-.71,6.84-1.38,9.64-.18a5.58,5.58,0,0,0-1.11,1,13.76,13.76,0,0,0-2,4.1C821.27,522.38,810,528,801,535.46l-8.22,6.81c-1.12.93-2.36,2.29-1.81,3.64a3.27,3.27,0,0,0,1.72,1.48c4.78,2.36,10.39,3.31,14.33,6.91,1.44,1.32,2.82,3.06,4.77,3.16a9.58,9.58,0,0,0,3-.67,10.09,10.09,0,0,1,8.81,1.76,8.57,8.57,0,0,0,2.4,1.65,5.83,5.83,0,0,0,2.28.14c2.13-.15,4.39-.34,6.3.61s3.48,3.19,5.71,3.35C841.4,564.38,842.7,564,843.74,564.12Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M751.77,428.4c-1.9,1.22-3.92,2.6-4.7,4.72-.64,1.73-.34,3.71-1.11,5.39s-2.5,2.85-2.88,4.65c-.27,1.31.26,2.69,0,4a17.24,17.24,0,0,0-.55,2.08c-.1,1.49,1.18,2.7,2.43,3.53a20.3,20.3,0,0,0,18.17,2c2.67-1,5.08-2.63,7.64-3.91a15.11,15.11,0,0,1,8.23-2c1.65.18,3.23.78,4.88,1a5.12,5.12,0,0,0,4.57-1.36,5.7,5.7,0,0,0,1-2.37c1.39-5.49.76-11.31-.56-16.83s-3.32-10.83-4.73-16.32c-1-4.07-1.77-8.24-3.44-12.09s-4.48-7.43-8.41-8.9a1.57,1.57,0,0,0-1-.13,1.7,1.7,0,0,0-.65.48,30.75,30.75,0,0,0-6.86,11.54c-1.57,4.79-2,9.87-3.44,14.68-.62,2-1.42,4.68-3,6.21S753.56,427.25,751.77,428.4Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M789.48,446.1a5.83,5.83,0,0,1-1.05,2.37,5.07,5.07,0,0,1-4.57,1.35c-1.64-.2-3.22-.81-4.87-1a15.08,15.08,0,0,0-8.23,2c-2.56,1.28-5,2.87-7.65,3.9a20.19,20.19,0,0,1-12.13.69,19.57,19.57,0,0,1-6-2.64c-1.26-.82-2.53-2-2.43-3.53a17.09,17.09,0,0,1,.55-2.07c.26-1.31-.26-2.69,0-4,.38-1.8,2.12-3,2.88-4.66s.47-3.65,1.1-5.38c.78-2.13,2.81-3.5,4.71-4.73s4.16-2.17,5.68-3.66A5.64,5.64,0,0,0,758,424a18,18,0,0,0,2.38-5.51c1.47-4.82,1.87-9.89,3.43-14.69a30.81,30.81,0,0,1,6.87-11.53,1.51,1.51,0,0,1,.64-.48,1.6,1.6,0,0,1,1,.12c3.92,1.48,6.73,5.06,8.41,8.91s2.39,8,3.44,12.08c1.4,5.49,3.41,10.82,4.73,16.33S790.87,440.6,789.48,446.1Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M819.22,324.14a20,20,0,0,1-24.36-11,23.72,23.72,0,0,1,.4-2.79c1-4.6,5.28-2.92,8.66-1.7a67.71,67.71,0,0,1,11.75,5.09,8.43,8.43,0,0,1,2.9,2.46C820.05,318.41,819.46,321.35,819.22,324.14Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <circle cx="785.18" cy="180.34" r="20" fill="#be6f72"/>
    <path d="M867.45,453.54c0,1.66-2.25,2.19-3.92,2.1-6-.35-11.87-2-17.81-1.5-7.51.68-14.41,4.83-21.94,5.21-2.9.15-5.85-.28-8.71.25-3.7.69-7,2.94-10.77,3.26-3.27.28-6.5-.95-9.77-.82A15.7,15.7,0,0,0,788,463.9a9.19,9.19,0,0,1,2.68-5.59c2.39-2.35,5.79-1.74,9.09-2.3a52.07,52.07,0,0,0,9.6-3.07,94.31,94.31,0,0,1,27.11-6.27A59.19,59.19,0,0,1,863.85,451a15.57,15.57,0,0,1,3.53,2A1.57,1.57,0,0,1,867.45,453.54Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M803.93,340.6l-8.1-3-3.42-1.26a16.54,16.54,0,0,0-4.36-1.16c-3.92-.3-7.61,2.31-9.7,5.64s-2.88,7.3-3.55,11.17q-1.38,7.94-2.34,15.94a104.13,104.13,0,0,0-1.05,14.54c.23,12.38,2.85,24.59,5.73,36.64a128.88,128.88,0,0,1,3.19,16.25c.24,2.26.35,4.53.59,6.8.26,2.55.68,5.07,1.1,7.6l2.41,14.37c3-2.13,6.41-4,10.1-4.11,3.27-.12,6.51,1.1,9.77.82,3.75-.31,7.07-2.56,10.77-3.25,2.86-.53,5.81-.11,8.72-.25,7.52-.38,14.43-4.54,21.93-5.21,5.95-.54,11.86,1.14,17.82,1.49,1.66.1,3.91-.43,3.91-2.1,0-1.16-1.16-1.93-2.17-2.51a107,107,0,0,1-13.55-9.67c-3.94-3.12-7.94-6.32-10.65-10.54-6.53-10.15-4.29-23.88-9.86-34.59-4.53-8.7,0-20.1,0-29.91,0-4.89,0-9.84-1.15-14.59a61.89,61.89,0,0,0-2.68-7.8l-3.89-9.85a1.61,1.61,0,0,0-.46-.75,1.53,1.53,0,0,0-.89-.27,9.38,9.38,0,0,0-6.46,2.07c-1.83,1.49-3,3.63-4.8,5.18C808.92,340,806.38,341.5,803.93,340.6Z"
          transform="translate(-28 -123.74)" fill="#e3e8f4"/>
    <path d="M817,334.92c.64-2.74,1.33-5.59,3.16-7.73s5.17-3.27,7.53-1.74c2.68,1.74,2.79,5.76,5.08,8,2,1.92,5,2.07,7.72,2.32a52.35,52.35,0,0,1,14.27,3.36,5.83,5.83,0,0,1,2.37,1.42c1.25,1.42,1,3.6,1.62,5.37.85,2.28,3.2,3.73,4.11,6,1,2.52,0,5.34-.84,7.93-1.51,4.65-2.46,9.48-3.93,14.15s-3.56,9.27-7,12.79c-1.52,1.56-3.78,3-5.78,2.07l-.77,5.55a9.43,9.43,0,0,0,0,3.55,3.18,3.18,0,0,0,2.32,2.46c.15.86,1.06,1.27,1.8,1.74a5,5,0,0,1,1.27,7c-.63.85-1.56,1.52-1.86,2.53-.45,1.46.62,3,1.92,3.8s2.83,1.17,4.15,1.94c2.74,1.58,4.21,4.69,5.15,7.71.7,2.28,1.28,4.75,3,6.41.66.63,1.45,1.11,2.08,1.77a7.59,7.59,0,0,1,1.79,4.59,9.11,9.11,0,0,1-1.3,6c-2,2.86-5.73,3.71-9,5-5.31,2.18-9.68,6.08-14.36,9.4a15.32,15.32,0,0,1-6.55,3.08c-3.24.43-6.43-1-9.69-1.13a24.06,24.06,0,0,0-5.78.76l-6,1.3c.32-4.65-2.24-9.31-3.67-13.74-2.7-8.34-3.2-17.26-2.56-26s2.42-17.36,4.18-25.94c1.23-6,1.11-12.27,3-18.1,1.77-5.61,4.3-11,5.23-16.84C821.18,352.25,814.86,344.24,817,334.92Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M862.49,353.41a11,11,0,0,1,1.15,3.25,11.73,11.73,0,0,0,2.53,4.76,16.39,16.39,0,0,1,2.66,3c.92,1.74.57,3.86,1,5.76.5,2.07,1.95,3.87,2.16,6a11,11,0,0,0,.17,1.82c.65,2.42,4.21,3,5,5.42.53,1.57-.38,3.28-.21,4.93a4.34,4.34,0,0,1,.09,1.56,3.17,3.17,0,0,1-1.14,1.46,23,23,0,0,0-6.58,11.71,66.69,66.69,0,0,0-1.51,13.53l-3.91-5.17a5.94,5.94,0,0,0-1.56-1.6c-.5-.3-1.08-.45-1.59-.75-1.48-.84-2.06-2.62-2.63-4.22a39,39,0,0,0-7-12.12c-1.59-1.87-3.44-3.75-3.79-6.18a11.38,11.38,0,0,1,.18-3.34c1-6.55,2.07-13.26,5.26-19.07,1.49-2.72,3.42-5.18,4.85-7.94C858.58,354.39,859.93,349.63,862.49,353.41Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M763.84,359.7a4.57,4.57,0,0,1-.62,2.4,3.16,3.16,0,0,1-3.16,1,9.14,9.14,0,0,1-3.16-1.48q-4.18-2.64-8.36-5.29a46.28,46.28,0,0,1-4.49-3.08,40.07,40.07,0,0,1-5.93-6.21c-4.86-6-9.16-12.51-14.57-18-1.47-1.5-3-2.94-4.42-4.51a65.82,65.82,0,0,1-5.34-7.18c-1.56-2.31-3.18-4.87-2.91-7.63.16-1.56.91-3,1.13-4.55s-.37-3.44-1.87-3.86a3.38,3.38,0,0,0-.54-.09,4.08,4.08,0,0,1-.87-.19c-1.39-.58-1.18-2.73-.18-3.86s2.48-1.76,3.39-3a18.09,18.09,0,0,1,1.42-2.11,5.41,5.41,0,0,1,2.33-1.17,36.06,36.06,0,0,1,17.75-.67c1,.22,2.14.62,2.44,1.59a2.93,2.93,0,0,1,0,1.44,32.2,32.2,0,0,0-.76,6,10.64,10.64,0,0,0,.07,1.26c.47,4.24,3.22,7.83,5.9,11.14,3.18,3.94,6.41,7.85,9.65,11.75a46.17,46.17,0,0,0,5.85,6.25c2,1.66,4.59,3,6.15,5.13,1.27,1.72.86,4.07,1,6.14A136.28,136.28,0,0,1,763.84,359.7Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M890.84,401.42a21,21,0,0,0,2.66-3.15,20.78,20.78,0,0,0,2-4.47l5.8-16.45c.92-2.6,1.84-5.21,3-7.74,1.2-2.73,2.62-5.36,3.93-8A106.7,106.7,0,0,0,916,339.86a8.06,8.06,0,0,0,.31-3.19c-.28-1.73-1.59-3.08-2.84-4.31a20.79,20.79,0,0,0-4.26-3.52,7,7,0,0,0-5.34-.86c-2.56.75-4.17,3.37-4.76,6s-.37,5.32-.62,8c-.36,3.84-1.68,7.55-2,11.4-.17,2.23,0,4.48-.27,6.7a24.47,24.47,0,0,1-3,8.27,53.69,53.69,0,0,1-12.93,15.9,20.79,20.79,0,0,0-3.88,3.73,12.17,12.17,0,0,0-1.87,4.66,10.73,10.73,0,0,0,.81,7.57c1.63,2.78,4.76,4,7.75,4.62C887.14,405.67,888.07,404.29,890.84,401.42Z"
          transform="translate(-28 -123.74)" fill="#be6f72"/>
    <path d="M813.3,275.1a9.33,9.33,0,0,1,9.06-4.91,10,10,0,0,1,7.86,7.06c.47,1.49.66,3.14,1.48,4.42,1.24,1.93,3.54,2.49,5.26,3.89a10.53,10.53,0,0,1,3.36,7.44,22.51,22.51,0,0,1-1.33,8.41,26.74,26.74,0,0,0-1,3.52c-.2,1.16-.22,2.34-.4,3.5A11.4,11.4,0,0,1,833,316a2,2,0,0,1-1.24.45c-.78-.09-1.26-1-1.55-1.82-1.59-4.59-1.21-10.2-4.14-13.86a15.15,15.15,0,0,0-4.74-3.53,6.11,6.11,0,0,0-2.42-.91,6.37,6.37,0,0,0-3.5,1.28,21.79,21.79,0,0,1-6.92,3.06,8.5,8.5,0,0,1-7.15-1.54c-1.38-1.14-2.39-2.85-3.92-3.74s-3.13-.84-4.64-1.45A6.87,6.87,0,0,1,790,283.46c1-1.2,2.48-1.88,3.37-3.21,1.15-1.72,1.05-4.08,1.6-6.14a8.45,8.45,0,0,1,5.09-5.81,7.15,7.15,0,0,1,7.12,1.49c1,.9,1.8,2.06,2.78,3a8,8,0,0,0,7.4,2"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M829.74,422.29a3.88,3.88,0,0,0-1.06,4.24c.22.47,10.54-1.52,11.63-1.67,2.72-.39,7.49-.2,9.32-2.69,3.26-4.41-6.84-3.43-8.69-3.27C837.42,419.2,832.42,419.68,829.74,422.29Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M735.86,293.29a32.2,32.2,0,0,0-.76,6c-3,.61-6.12-.39-9-1.39l-8.27-2.82a2.35,2.35,0,0,0-3.16.59c-1.33,1.38-3.16,4-5,5.55a4.08,4.08,0,0,1-.87-.19c-1.39-.58-1.18-2.73-.18-3.86s2.48-1.76,3.39-3a18.09,18.09,0,0,1,1.42-2.11,5.41,5.41,0,0,1,2.33-1.17,36.06,36.06,0,0,1,17.75-.67c1,.22,2.14.62,2.44,1.59A2.93,2.93,0,0,1,735.86,293.29Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M735.86,293.29a32.2,32.2,0,0,0-.76,6c-3,.61-6.12-.39-9-1.39l-8.27-2.82a2.35,2.35,0,0,0-3.16.59c-1.33,1.38-3.16,4-5,5.55a4.08,4.08,0,0,1-.87-.19c-1.39-.58-1.18-2.73-.18-3.86s2.48-1.76,3.39-3a18.09,18.09,0,0,1,1.42-2.11,5.41,5.41,0,0,1,2.33-1.17,36.06,36.06,0,0,1,17.75-.67c1,.22,2.14.62,2.44,1.59A2.93,2.93,0,0,1,735.86,293.29Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M811.51,483.14c1.44.48,3,1.18,3.49,2.62l-11.58-2.94-6-1.53c-1.06-.27-4.86-.58-5.56-1.41-1-1.22,2.55-.38,3.19-.29,1.94.29,3.88.59,5.81.94C804.5,481.18,808,482.25,811.51,483.14Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M816,493.39c-1-.67-3.87-.59-5.1-.88-1.8-.43-3.57-1-5.34-1.55-3.59-1.17-7.15-2.5-10.84-3.36-.68-.15-3-.19-2.89-1.05s2.32-1.16,2.87-1.2c3.27-.24,7.35,1.29,10.39,2.38A45.79,45.79,0,0,1,816,493.39Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M808.66,474c-3.67-1-7-3.28-10.78-3.72a4.38,4.38,0,0,1-2.75-.84,3.24,3.24,0,0,1-.89-1.6c2.53-.13,5.47.94,7.77,1.95a24.45,24.45,0,0,1,3.64,1.94C806.49,472.24,807.75,473.71,808.66,474Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M878.62,384.46a17.49,17.49,0,0,0,12.26,19.33c-.49,2.37-2.94,3.68-4.67,5.37-2.44,2.37-3.7,5.92-6.58,7.72-3.21,2-7.34,1.22-11,.38a1.34,1.34,0,0,1-.86-.45,1.23,1.23,0,0,1-.16-.39c-1.21-4.43-2-9.16-.76-13.6,1-3.78,3.4-7,5.32-10.34S874.27,385.56,878.62,384.46Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M789.21,327.12a26,26,0,0,0-11,3.35c-2.24,1.28-4.54,3-7.1,2.69-1.51-.17-3-1-4.47-.6a8.77,8.77,0,0,0-2.29,1.36,2.59,2.59,0,0,1-2.52.4l-1,13.84c-.38,5.26-.75,10.63.51,15.76.65,2.62,2.08,5,2.24,7.66s-.08,5.39.11,8.08c.18,2.49.73,4.94.87,7.43.28,4.7-.88,9.36-2,13.93-1.69,6.74-2.71,13.63-6,19.73-.92,1.69-2,3.41-2,5.33,0,.24,0,.47.06.7-1,.55-1.93,1.07-2.78,1.61-1.9,1.23-3.93,2.6-4.71,4.73-.63,1.73-.34,3.71-1.1,5.38s-2.5,2.86-2.88,4.66c-.27,1.31.25,2.69,0,4a17.09,17.09,0,0,0-.55,2.07c-.1,1.5,1.17,2.71,2.43,3.53a19.57,19.57,0,0,0,6,2.64L757,431.7h0a191.09,191.09,0,0,0,13.53-31.47,67.66,67.66,0,0,1,3.91-10.36,48.68,48.68,0,0,0,3-5.88c.91-2.52,1-5.25,1.44-7.91a55.37,55.37,0,0,1,2.35-9.13c1.08-3.21,2.33-6.41,2.55-9.78.33-4.82-1.42-9.91.44-14.37a19.11,19.11,0,0,1,3.05-4.59c2.58-3.16,4.93-6.47,7.51-9.63C793.44,327.15,791.21,327,789.21,327.12Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <g opacity="0.1">
        <path d="M817.39,271.81l-1.25.09L816,272A7.38,7.38,0,0,0,817.39,271.81Z" transform="translate(-28 -123.74)"/>
        <path d="M840.27,292.57a26.94,26.94,0,0,1-1.28,5.84,26.74,26.74,0,0,0-1,3.52c-.2,1.16-.22,2.34-.4,3.5A11.4,11.4,0,0,1,833,313a2,2,0,0,1-1.24.45c-.78-.09-1.26-1-1.55-1.82-1.59-4.59-1.21-10.2-4.14-13.86a15.15,15.15,0,0,0-4.74-3.53,6.11,6.11,0,0,0-2.42-.91,6.37,6.37,0,0,0-3.5,1.28,21.79,21.79,0,0,1-6.92,3.06,8.5,8.5,0,0,1-7.15-1.54c-1.38-1.14-2.39-2.85-3.92-3.74s-3.13-.84-4.64-1.45a6.83,6.83,0,0,1-3.9-4.46,2.87,2.87,0,0,1-.08-.38,7,7,0,0,0,.08,3.38,6.83,6.83,0,0,0,3.9,4.46c1.51.61,3.21.62,4.64,1.45s2.54,2.6,3.92,3.74a8.5,8.5,0,0,0,7.15,1.54,21.79,21.79,0,0,0,6.92-3.06,6.37,6.37,0,0,1,3.5-1.28,6.11,6.11,0,0,1,2.42.91A15.15,15.15,0,0,1,826,300.8c2.93,3.66,2.55,9.27,4.14,13.86.29.83.77,1.73,1.55,1.82A2,2,0,0,0,833,316a11.4,11.4,0,0,0,4.6-7.6c.18-1.16.2-2.34.4-3.5a26.74,26.74,0,0,1,1-3.52,22.51,22.51,0,0,0,1.33-8.41C840.31,292.85,840.29,292.71,840.27,292.57Z"
              transform="translate(-28 -123.74)"/>
    </g>
    <path d="M777,372.81l-.68,9.13c-.1,1.24-2.47,30.76-19.95,65.26-15,29.59-44.19,68.13-99.3,89.79q-6.45,2.55-13.39,4.76l-5.16-16.2a189.43,189.43,0,0,0,37.22-16.28c28.09-16.22,49.93-39.37,65.16-69.16A185.77,185.77,0,0,0,758,389.81h-62.7v-17Z"
          transform="translate(-28 -123.74)" class="primary"/>
    <path d="M650.32,537c55.1-21.66,84.3-60.19,99.29-89.78,17.48-34.5,19.86-64,19.95-65.26l.68-9.13h7l-.68,9.13c-.09,1.24-2.47,30.76-19.95,65.26-15,29.59-44.19,68.12-99.29,89.78q-6.45,2.55-13.4,4.77l-.68-2.13Q646.86,538.35,650.32,537Z"
          transform="translate(-28 -123.74)" fill="#fff" opacity="0.1"/>
    <path d="M540,525.55l-5.16,16.2q-6.95-2.22-13.4-4.77c-55.1-21.66-84.3-60.19-99.29-89.78-17.48-34.5-19.86-64-19.95-65.26l-.68-9.13h81.66v17H420.47a185.88,185.88,0,0,0,17.15,50.3c15.23,29.79,37.06,52.94,65.15,69.15A189,189,0,0,0,540,525.55Z"
          transform="translate(-28 -123.74)" class="primary"/>
    <path d="M528.18,537c-55.1-21.66-84.3-60.19-99.29-89.78-17.48-34.5-19.86-64-19.95-65.26l-.68-9.13h-7l.68,9.13c.09,1.24,2.47,30.76,19.95,65.26,15,29.59,44.19,68.12,99.29,89.78q6.45,2.55,13.4,4.77l.68-2.13Q531.65,538.35,528.18,537Z"
          transform="translate(-28 -123.74)" fill="#fff" opacity="0.1"/>
    <path d="M683.59,682.15v91.67H494.92V682.15l6-8c61.14-21.7,73.53-78.29,76-100.68a92.05,92.05,0,0,0,.63-9.32h23.33a92.05,92.05,0,0,0,.63,9.32c2.51,22.39,14.9,79,76,100.68Z"
          transform="translate(-28 -123.74)" class="primary"/>
    <rect x="466.92" y="558.41" width="188.67" height="11.5" opacity="0.1"/>
    <path d="M510.92,674.15c61.14-21.7,73.53-78.29,76-100.68a92.05,92.05,0,0,0,.63-9.32h-10a92.05,92.05,0,0,1-.63,9.32c-2.51,22.39-14.9,79-76,100.68l-6,8v91.67h10V682.15Z"
          transform="translate(-28 -123.74)" fill="#fff" opacity="0.1"/>
    <path d="M466.26,372.81h16.92v17H467.76Q466.85,381.41,466.26,372.81Z" transform="translate(-28 -123.74)"
          opacity="0.1"/>
    <path d="M540,525.55l-5.16,16.2q-6.95-2.22-13.4-4.77a179.15,179.15,0,0,1-18.67-27.72A189,189,0,0,0,540,525.55Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M638.51,525.55a189.43,189.43,0,0,0,37.22-16.28A179.86,179.86,0,0,1,657.06,537q-6.45,2.55-13.39,4.76Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M712.24,372.81q-.59,8.6-1.5,17H695.33v-17Z" transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M601.55,573.47a64.64,64.64,0,0,1-24.59,0,92.05,92.05,0,0,0,.63-9.32h23.33A92.05,92.05,0,0,0,601.55,573.47Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M468.26,344.65c.43,126.06,54.43,228,121,228s120.56-101.94,121-228Z" transform="translate(-28 -123.74)"
          class="primary"/>
    <path d="M489.76,344.65h-21.5c.43,126.06,54.43,228,121,228a65.35,65.35,0,0,0,10.75-.91C538.47,561.46,490.17,463.85,489.76,344.65Z"
          transform="translate(-28 -123.74)" fill="#fff" opacity="0.1"/>
    <rect x="497.09" y="593.5" width="128.33" height="33" fill="#3f3d56"/>
    <polygon points="503.09 598 625.42 598 625.42 593.5 497.09 593.5 497.09 626.5 503.09 626.5 503.09 598" fill="#fff"
             opacity="0.1"/>
    <path d="M399.82,466.36c-2.31-.77-15.91-11.53-16.94-16.4s7.19-50.24,7.19-50.24-.76,0-2-.15l0-.73,1.69-59.6s6.93-40-6.16-37.67-4.88,37.67-4.88,37.67-1.49,17.94-2.54,23.32c-1,5.19-5.58,26.33-2.46,32.9a7.16,7.16,0,0,0,.38.68h0s.52,22.55-5.13,25.63c-5.39,2.93-7.63,17.68-7.82,19l-.29-.12h0a15.67,15.67,0,0,1-4.17-3.81c-.12-.15-.21-.31-.32-.47a22,22,0,0,0-.59-29.87,22.18,22.18,0,0,0-6.19-4.52,14.2,14.2,0,0,0-1.33-5.52c-2.6-5.56-17-12.83-27.23-13-4.72-.14-8.59,1.2-10,4.89-.72,1.87-.5,4-.8,5.94-.6,4-3.17,7.13-6.47,9.62a40.56,40.56,0,0,0-4.31-4.15c-3.34-2.56-10-11-10-11s-20.79-21.53-22.33-27.43S244.81,320,240.19,326.17s15.91,33.06,15.91,33.06S260,369,263,372.3,289,409,289,409l1.1,2.28c-4.86,2.56-9.3,5.82-10.87,10.9-2.3,7.48,2.73,15,6.21,22,6.78,13.66,7.75,31.08-1,43.56C276.6,498.76,263,504,250.27,508.58a33.63,33.63,0,0,0,21.6,7.17c-2.94,8.52-13.36,11.34-22.24,12.92,4.66,4.48,11.33,6.11,17.73,7.1a53.12,53.12,0,0,0,9.49.75l.78,0,.78-.06a27.16,27.16,0,0,0,3.23-.41c4.62-.94,9.11-3.46,11.47-7.54,2-3.49,2.7-8.25,6.33-10a8.09,8.09,0,0,1,3-.71h-.11c.68,0,1.38,0,2.06,0l15.13.15c.63,0,1.28,0,1.93,0,4.27-.1,8.83-.84,11-4.37a12.12,12.12,0,0,0,1.37-5.55c.32-4.79,0-9.72.13-14.55,1.29,8.79,2.64,22.49-.57,27.55A47,47,0,0,1,324,531.2a18,18,0,0,0-2.48,2.54c-.49.35-.78.54-.78.54l-.31.93a17.61,17.61,0,0,0-2.44,5.66,3.93,3.93,0,0,0-.19,1.61c.35.71-2.5,3.64-1.67,4.87-7.12,8.35-8.47,21-8.47,21l-13,19.74c-6.68,17.55-16.68,19.35-16.68,19.35s-23.49-15.76-24.13-16.53-9.62-4.62-9.62-4.62a10.18,10.18,0,0,0-4.62-4.22c-3.08-1.28-3.34-6-3.34-6-.38-11.15-6.93-12-6.93-12-5.28-.45-9.31.49-12.41,2.21l-.94.07c-4.54.37-10,.78-16,1.18-16.69,1.1-20.66,11.91-20.66,11.91s-2.05,2.31.64,4.81,19.91,0,20.64-.06a11.18,11.18,0,0,1-3.92-.27c2.71-.1,6.44-.2,9.62-.2h.77a41.62,41.62,0,0,0-.29,5.08c0,3.2,8.85,5.25,8.85,5.25l26.95,24s16.94,7.57,27.72,18.46S290.62,638,290.62,638c11.41-2.82,44.24-42.51,44.27-42.55v0c0,1.16.69,39.76,2,47.51h0a5.15,5.15,0,0,0,.29,1.15c1.54,3.33-.52,12.43-1.41,16.27a45.2,45.2,0,0,0-.65,9.74s-12.31,47-11.29,51.13-6.67,23.32-6.67,23.32v16l1.34-.07a8.64,8.64,0,0,0-.48.8l-.09.17s8.21,1.79,13.73,1.28,15,4.25,15,4.25,3.21,1.52,13.09,2.16,9.88-4.36,9.88-4.36c-1.13-6.81-16.74-9.09-17.22-9.16-1.26-.79-2.44-1.65-3.41-2.39l-.2-.16a4.28,4.28,0,0,0,.17-.46c1.67-6.8-7.57-9.75-7.57-9.75v-1.66c6-3.08,7.19-24.22,7.19-24.22s9-26.14,10.26-30.5,0-10.89,0-10.89l.9-5.64s1.93-3.84,1.93-4.61a11.39,11.39,0,0,1,2.18-5.38c1.41-1.67-1.54-5.64-1.54-5.64l2.57-6.66v-7.31l6-26.52s6.29-30.89,4.11-41,2.57-15.25,2.57-15.25a12.64,12.64,0,0,1-1.32.6,38.21,38.21,0,0,0,1.55-4.26l13.5,1.67v.2h4.87s-1.54-19-1.54-26.66S399.82,494,399.82,494,402.13,467.13,399.82,466.36Zm-59.93-22.18c0,.75-.07,1.53-.12,2.33l-.27.41-.5-.42-.61.95-.18.09c-1.32-.68-2-4.57-2.95-3.73l-.13.11c-.21-.24-.42-.31-.64-.11l-.2.17c0-.29,0-.59,0-.89a22.5,22.5,0,0,0,5.6.71C339.9,443.93,339.89,444.06,339.89,444.18Zm44.9,88.48h.29l-.48,1.26C384.66,533.5,384.72,533.09,384.79,532.66ZM335.5,759.43l-1.84-.46,1-.17.93.61.11.08Zm18.8-2.69c-.61-.32-1.23-.69-1.83-1.07C352.67,755.78,353.46,756.19,354.3,756.74Z"
          transform="translate(-28 -123.74)" fill="url(#e2a6fc7a-3d7b-4d78-8350-c6ea621e07cc)"/>
    <polygon points="363.43 390.03 351.32 421.59 354.26 421.59 342.87 430.67 363.43 433.23 363.43 390.03"
             fill="#f86d70"/>
    <polygon points="363.43 390.03 351.32 421.59 348.27 420.77 342.87 430.67 363.43 433.23 363.43 390.03"
             opacity="0.1"/>
    <polygon points="344.44 410.22 363.43 410.22 370.4 352.87 344.44 352.87 344.44 410.22" fill="#f86d70"/>
    <polygon points="344.44 410.22 363.43 410.22 370.4 352.87 344.44 352.87 344.44 410.22" opacity="0.1"/>
    <path d="M335.35,490.19l4.1-.69,9.42-1.6S377.16,481.52,383,481a36.47,36.47,0,0,0,10.24-2.92c1.53-.66,2.5-1.16,2.5-1.16l-10.19-18.61-15.81-11.72s-10-2.13-14.23-7.95a9.37,9.37,0,0,1-1.31-8.88c2.58-8-15.41,7.65-15.41,7.65s.17,3.75,0,8.53c0,.94-.09,1.92-.16,2.92,0,.66-.09,1.32-.16,2-.44,4.75-1.34,9.64-3.12,12.56C331,470.56,335.35,490.19,335.35,490.19Z"
          transform="translate(-28 -123.74)" fill="#fbbebe"/>
    <path d="M338.79,446.34h.4c.72,0,1.3-1.53,2-1.6,5.63-.54,10.77-1.72,14.34-5.71a9.38,9.38,0,0,1-1.31-8.87c2.58-8-15.41,7.64-15.41,7.64S339,441.56,338.79,446.34Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M316.89,423.66a21.91,21.91,0,0,0,21.92,21.92c.72,0,1.43,0,2.14-.1a21.92,21.92,0,1,0-24.06-21.82Z"
          transform="translate(-28 -123.74)" fill="#fbbebe"/>
    <path d="M310.16,390.39c-.72,1.86-.5,3.94-.79,5.91-1.07,7.11-8.3,11.37-14.84,14.35s-13.92,6.51-16,13.38c-2.28,7.43,2.7,14.88,6.16,21.85,6.74,13.58,7.7,30.9-1,43.32-7.73,11-21.2,16.22-33.88,20.8a33.4,33.4,0,0,0,21.45,7.14c-2.91,8.47-13.26,11.28-22.08,12.84,4.63,4.46,11.26,6.08,17.61,7.06,4.63.72,9.38,1.19,14,.26s9-3.44,11.38-7.5c2-3.47,2.68-8.2,6.29-9.95a11.38,11.38,0,0,1,5.13-.75l15,.16c4.67,0,10.2-.36,12.61-4.35a12,12,0,0,0,1.36-5.52c.65-9.84-1.24-20.24,2.81-29.22,1.22-2.71-6.61-7-5.79-9.87,2.82-9.87,3.53-17.64,3.5-27.91,0-7.95,5.17-14.8,9.44-21.51s7.84-15.18,4.47-22.38C343.19,390.47,314.65,378.8,310.16,390.39Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M330.13,756.55l3.82,2.53.59.39.11.07,4.53,3,10.58,1.78,9.3-.64s2.68-5.6-1.53-5.47a8.76,8.76,0,0,1-3.84-1.11l-.58-.29h0c-.61-.32-1.22-.68-1.82-1.06h0c-1.25-.79-2.43-1.65-3.38-2.38-1.4-1.08-2.33-1.9-2.33-1.9Z"
          transform="translate(-28 -123.74)" fill="#fbbebe"/>
    <path d="M334,759.08l.59.39.11.07,4.53,3,10.58,1.78,9.3-.64s2.68-5.6-1.53-5.47a8.76,8.76,0,0,1-3.84-1.11c.74.58,1.36,1.21,1.42,1.74.17,1.43-6.88,4-6.88,4l-9.94-2.63s-1.69-.48-4-1.08l-.22-.06Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M317,761.52s8.15,1.78,13.63,1.27S345.55,767,345.55,767s3.19,1.5,13,2.14,9.81-4.34,9.81-4.34c-1.12-6.77-16.62-9-17.1-9.1h0l0,0h0c.19.1,1,.51,1.82,1.06h0c1.1.72,2.29,1.66,2.38,2.42.17,1.42-6.88,4-6.88,4l-9.94-2.62s-1.69-.49-4-1.09l-.22,0A85.26,85.26,0,0,0,324,757.32c-4.28-.46-6.47,3.18-6.92,4A1.19,1.19,0,0,0,317,761.52Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M188.54,581.69l4.33,3.32s1.26-.06,3.14-.12l.6,0c2.69-.1,6.4-.2,9.55-.2a30.32,30.32,0,0,1,6.09.34c2.16.76,6-12.36,6-12.36l-4.34-1-1.44-.34-1-.24-3.53-.83-10.7,1.22-7.52,4.84Z"
          transform="translate(-28 -123.74)" fill="#fbbebe"/>
    <path d="M188.54,581.69l4.33,3.32s1.26-.06,3.14-.12a3.79,3.79,0,0,1-2-1.79c-2.8-7.77,11.09-11.09,11.09-11.09l6.47-.28,1.26-.06,1,0-1.44-.34-1-.24-3.53-.83-10.7,1.22-7.52,4.84Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M180,585.2c2.62,2.42,19.78,0,20.5-.06a10.8,10.8,0,0,1-3.89-.27,4.29,4.29,0,0,1-3-2.15c-2.8-7.78,11.09-11.09,11.09-11.09l6.47-.28,1.25-.06,15.73-.68.76-4.33s-5.11.48-13.13,1.12c-4.51.37-10,.78-15.93,1.17-16.57,1.1-20.51,11.85-20.51,11.85S177.33,582.72,180,585.2Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <path d="M372.45,397.5a4.43,4.43,0,0,0,.38.68l3.82,5.6,9.94,1,.11-3.94,1.67-59.28s6.88-39.76-6.12-37.47-4.84,37.47-4.84,37.47-1.48,17.84-2.52,23.2C373.88,369.94,369.35,391,372.45,397.5Z"
          transform="translate(-28 -123.74)" fill="#fbbebe"/>
    <path d="M350.14,544.74l2.83,4.84,6.33,10.83s11.48,4.21,14.42,1c1.61-1.75,3.35-7.86,4.57-13,1-4.16,1.67-7.67,1.67-7.67Z"
          transform="translate(-28 -123.74)" fill="#fbbebe"/>
    <path d="M350.14,544.74l2.83,4.84a3.33,3.33,0,0,0,.48-.51c3.2-4.08,17.29-.87,24.84-.61,1-4.16,1.67-7.67,1.67-7.67Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M206.16,584.67a30.32,30.32,0,0,1,6.09.34c2.16.76,6-12.36,6-12.36l-5.78-1.36,15.73-.68.76-4.33s-5.11.48-13.13,1.12a16.5,16.5,0,0,0-4.37,3.65l-.24.3C207.87,575.46,206.63,580.76,206.16,584.67Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M330.13,756.55l4.41,2.92c6.58-1.19,12.59-3.06,13.3-6a1,1,0,0,0,0-.14c-1.4-1.08-2.33-1.9-2.33-1.9Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M317.09,761.35a152.62,152.62,0,0,0,17.34-1.86A85.26,85.26,0,0,0,324,757.32C319.73,756.86,317.54,760.5,317.09,761.35Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M206.64,589.72c0,3.19,8.79,5.23,8.79,5.23l26.77,23.83s16.82,7.52,27.52,18.35,20.14,1.53,20.14,1.53c11.34-2.8,44-42.31,44-42.31s.76,45.12,2.29,48.43-.51,12.36-1.4,16.19a45,45,0,0,0-.64,9.68s-12.23,46.77-11.21,50.85-6.63,23.2-6.63,23.2v15.93s29.95-1.15,31.6-7.9-7.51-9.69-7.51-9.69v-1.66c6-3.06,7.13-24.08,7.13-24.08s8.93-26,10.2-30.33,0-10.84,0-10.84l.89-5.6s1.91-3.83,1.91-4.59a11.34,11.34,0,0,1,2.17-5.35c1.4-1.66-1.53-5.61-1.53-5.61l2.55-6.63v-7.26l6-26.38s6.25-30.72,4.08-40.79,2.55-15.16,2.55-15.16c-10.23,5.36-15.39-6.57-17.08-11.7-.43-1.32-.64-2.2-.64-2.2s-14.05-5.18-27.13-3.94a31.23,31.23,0,0,0-7.79,1.65c-14.53,5.23-16.82,26.89-16.82,26.89l-12.87,19.63c-6.63,17.46-16.57,19.24-16.57,19.24s-23.32-15.67-24-16.44-9.56-4.59-9.56-4.59a10.1,10.1,0,0,0-4.59-4.2c-3.06-1.28-3.31-6-3.31-6-.38-11.09-6.88-12-6.88-12C206.51,563.22,206.64,586.54,206.64,589.72Z"
          transform="translate(-28 -123.74)" fill="#3f3d56"/>
    <rect x="336.38" y="484.71" width="13.76" height="42.69" transform="translate(658.52 888.38) rotate(-180)"
          fill="#f86d70"/>
    <rect x="336.38" y="484.71" width="13.76" height="42.69" transform="translate(658.52 888.38) rotate(-180)"
          opacity="0.1"/>
    <path d="M372.44,397.41a.62.62,0,0,0,0,.09,4.43,4.43,0,0,0,.38.68l3.82,5.6,9.94,1,.11-3.94C383.59,400.6,376.53,399.75,372.44,397.41Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M372.83,398.18s.51,22.42-5.1,25.48-7.79,19-7.79,19,17,11.18,20.79,16.1,12.49,16.64,10.7,19.44,4.34,15.55,4.34,15.55-11.22,22.94-8.67,31.61,2.8,31.6,2.8,31.6h4.85s-1.53-18.86-1.53-26.51,5.09-34.92,5.09-34.92,2.3-26.76,0-27.52-15.8-11.47-16.82-16.32,7.14-50,7.14-50S378.18,401.24,372.83,398.18Z"
          transform="translate(-28 -123.74)" fill="#f86d70"/>
    <path d="M336.12,480.76a21.82,21.82,0,0,0,3.33,8.74l9.42-1.6S377.16,481.52,383,481a36.47,36.47,0,0,0,10.24-2.92,45.16,45.16,0,0,0-12.65-20.75L377,454a60.15,60.15,0,0,0-18.1-11.57c.42.35,30.1,25.69,23.6,30.66s-24-7.13-24-7.13l-19.9-17.1-.72-.62-1.15,1.79a16.69,16.69,0,0,1,1.71.82,29.28,29.28,0,0,1,14,17.4C356.53,482,336.12,480.76,336.12,480.76Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M330,544.48s18.86,10.45,23.44,4.59c1-1.29,3.11-1.85,5.74-2-.43-1.32-.64-2.2-.64-2.2s-14.05-5.18-27.13-3.94C330.55,543.09,330,544.48,330,544.48Z"
          transform="translate(-28 -123.74)" fill="#444053"/>
    <path d="M338.68,448.26,359.3,466s17.43,12.14,24,7.13-23.61-30.67-23.61-30.67h0A61,61,0,0,1,377.78,454l3.59,3.33c9.44,8.75,11.57,8.75,11.89,21.61.08,3.17-1,7.72-1.83,8.54-3.06,3-5.2,24.79-4.73,27.34S381,539.38,383,545.5s-25-3.06-29.57,2.81S330,543.72,330,543.72s10.45-26.77,13-28.55,5.61-15.55,0-21.92-6.11-12.49-6.11-12.49,20.4,1.26,16.31-12.49a28.86,28.86,0,0,0-15.68-18.22Z"
          transform="translate(-28 -123.74)" fill="#e8e8f0"/>
    <path d="M366.2,493.38s-7.91,14.91-18.14,18.78c-.33.12-.65.23-1,.33C336.38,515.74,367,498,366.2,493.38Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M255.58,361.47s3.82,9.69,6.88,13,25.74,36.45,25.74,36.45l1.92,4,1.65,3.41,14.53-1.53,1-5.86-.56-.68c-1.46-1.75-5.44-6.45-8.11-8.5-3.31-2.54-9.94-10.95-9.94-10.95s-20.64-21.42-22.17-27.28-22.18-41-26.76-34.92S255.58,361.47,255.58,361.47Z"
          transform="translate(-28 -123.74)" fill="#fbbebe"/>
    <g opacity="0.1">
        <path d="M297.74,519.1a11.39,11.39,0,0,0-5.13.74c-3.6,1.75-4.28,6.48-6.28,9.95-2.34,4.06-6.8,6.57-11.39,7.5a25.44,25.44,0,0,1-2.76.38,31.34,31.34,0,0,0,8.76-.38c4.59-.93,9.05-3.44,11.39-7.5,2-3.47,2.68-8.2,6.28-9.95a8,8,0,0,1,3-.7Z"
              transform="translate(-28 -123.74)"/>
        <path d="M333.26,442.39c0-7.95,5.17-14.8,9.43-21.51s7.84-15.18,4.47-22.38c-2.88-6.15-20.24-14.4-30.26-12.77,9.81,1.27,21.9,7.73,24.26,12.77,3.37,7.2-.21,15.67-4.47,22.38s-9.45,13.56-9.43,21.51c0,10.26-.69,18-3.51,27.91-.81,2.85,7,7.16,5.8,9.86-4.06,9-2.16,19.38-2.81,29.22a12.15,12.15,0,0,1-1.37,5.52c-2,3.29-6.1,4.14-10.09,4.32l3.49,0c4.66,0,10.19-.36,12.6-4.35a12.15,12.15,0,0,0,1.37-5.52c.65-9.84-1.25-20.23,2.81-29.22,1.22-2.7-6.61-7-5.8-9.86C332.57,460.43,333.28,452.65,333.26,442.39Z"
              transform="translate(-28 -123.74)"/>
    </g>
    <path d="M290.12,414.9l1.65,3.41,14.53-1.53,1-5.86-.56-.68C305.19,411,293.58,416.59,290.12,414.9Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M343.77,453.23s-3.57-5.6-5.61-4.08-2.83-4.59-4-3.57-4.58,3.86-6-.11c-1.11-3.16-13.19-23.15-18.09-31.19-1.26-2.08-2.05-3.36-2.05-3.36s-13.76,6.88-17.07,4.59v4.84l2.8.26,15,28s4.72,7.51,4.4,10.13,6.05,14.09,7.07,14.85,12,13.51,12,13.51,5.61,27.53.76,35.18-13.25,13.25-13.25,13.25-2.53,7.39-2.16,8.16-2.94,4.08-1.41,5.1,3.57,8.15,3.57,8.15,7.14-11.47,11-13.25,8.8-25.24,8.8-25.24,1.41-13.82,1.52-22.74S340.71,453.23,343.77,453.23Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M343,453.23s-3.56-5.6-5.6-4.08-2.84-4.59-4-3.57-4.57,3.86-6-.11c-1.12-3.16-13.2-23.15-18.09-31.19l-2.05-3.36s-13.76,6.88-17.08,4.59v4.84l2.81.26,15,28s4.73,7.51,4.4,10.13,6,14.09,7.07,14.85,12,13.51,12,13.51,5.61,27.53.77,35.18A46.88,46.88,0,0,1,323,532.5a17.84,17.84,0,0,0-6,9.62,3.8,3.8,0,0,0-.18,1.6c.37.76-2.94,4.08-1.41,5.1S319,557,319,557s7.14-11.47,11-13.25,8.81-25.24,8.81-25.24,1.4-13.82,1.52-22.74S340,453.23,343,453.23Z"
          transform="translate(-28 -123.74)" fill="#f86d70"/>
    <path d="M308.08,569.21s10.71,2,15,5.09-16.31-4.84-16.31-4.84Z" transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M333.83,596.35S345,605.66,343,614.07s-7.16,29.57-7.16,29.57Z" transform="translate(-28 -123.74)"
          opacity="0.1"/>
    <path d="M236.14,578.45s-15.74,1.72-14.72,3.76,14.72-1.88,14.72-1.88Z" transform="translate(-28 -123.74)"
          opacity="0.1"/>
    <path d="M357,655.87s1,1.27-4.84,0-1.53-5.19-1.53-5.19Z" transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M355,673.46s-8,1.27-12.29,0S355,673.46,355,673.46Z" transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M338.54,742.28s-1.4-1.53-8.41,1.27-9.81,2.93-11.85,2S338.54,742.28,338.54,742.28Z"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M346.32,576.28l-9.94,13.83S341.73,578,346.32,576.28Z" transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M327,449.15s-.43,4.59-6.84,6.38-7.63,3.24-7.63,3.24" transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M310.34,415.88s-8.46,6-17.29,4.73" transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M316.78,544.35s2.47,1.55,8.4-5.23" transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M378.37,472.46c.24-1.24-.62-2.39-1.43-3.36l-1.66-2a7.7,7.7,0,0,0-1.09-1.12c-1-.77-2.28-1-3.32-1.69"
          transform="translate(-28 -123.74)" opacity="0.1"/>
    <path d="M915.29,123.85S831.1,118.77,841,177.77c0,0-2,10.43,7.48,15.16,0,0,.15-4.37,8.64-2.88a39.5,39.5,0,0,0,9.15.44,19.06,19.06,0,0,0,11.18-4.62h0s23.67-9.78,32.87-48.46c0,0,6.81-8.44,6.54-10.61l-14.21,6.07s4.86,10.25,1,18.77c0,0-.46-18.4-3.19-18-.55.09-7.38,3.55-7.38,3.55s8.35,17.85,2.05,30.83c0,0,2.39-22-4.66-29.54l-10,5.84s9.76,18.44,3.14,33.49c0,0,1.7-23.08-5.25-32.07l-9.06,7.07s9.17,18.18,3.58,30.66c0,0-.73-26.87-5.54-28.9,0,0-7.93,7-9.14,9.86,0,0,6.28,13.2,2.38,20.16,0,0-2.39-17.9-4.35-18,0,0-7.9,11.86-8.72,20,0,0,.34-12.09,6.81-21.12,0,0-7.64,1.31-12.1,6.26,0,0,1.23-8.38,14.05-9.11,0,0,6.53-9,8.27-9.55,0,0-12.74-1.06-20.47,2.36,0,0,6.8-7.91,22.81-4.31l8.95-7.31s-16.78-2.29-23.9.24c0,0,8.19-7,26.31-1.9l9.74-5.82s-14.31-3.08-22.83-2c0,0,9-4.85,25.69.41l7-3.13s-10.48-2.06-13.55-2.39-3.23-1.17-3.23-1.17a36.35,36.35,0,0,1,19.69,2.19S915.55,124.78,915.29,123.85Z"
          transform="translate(-28 -123.74)" class="primary" opacity="0.1"/>
    <path d="M811.45,138.86s-38-2.3-33.55,24.36c0,0-.89,4.72,3.37,6.86,0,0,.07-2,3.91-1.31a17.51,17.51,0,0,0,4.13.2,8.57,8.57,0,0,0,5.05-2.09h0s10.7-4.41,14.86-21.89c0,0,3.07-3.82,2.95-4.8l-6.42,2.74s2.2,4.64.47,8.49c0,0-.21-8.32-1.44-8.12-.25,0-3.34,1.6-3.34,1.6s3.78,8.07.93,13.94c0,0,1.08-9.94-2.11-13.35l-4.52,2.64s4.42,8.33,1.42,15.13c0,0,.77-10.43-2.37-14.49L790.7,152s4.14,8.22,1.62,13.85c0,0-.33-12.14-2.51-13.05,0,0-3.58,3.16-4.13,4.46,0,0,2.84,6,1.08,9.1,0,0-1.08-8.09-2-8.12,0,0-3.56,5.36-3.94,9a19.55,19.55,0,0,1,3.08-9.55,10.76,10.76,0,0,0-5.47,2.83s.56-3.78,6.35-4.12c0,0,3-4.06,3.74-4.31,0,0-5.76-.48-9.25,1.07,0,0,3.07-3.58,10.31-2l4-3.3s-7.58-1-10.8.11c0,0,3.7-3.16,11.89-.86l4.4-2.63s-6.46-1.4-10.32-.89c0,0,4.07-2.2,11.61.18l3.15-1.41s-4.74-.94-6.13-1.08-1.46-.53-1.46-.53a16.39,16.39,0,0,1,8.9,1S811.57,139.28,811.45,138.86Z"
          transform="translate(-28 -123.74)" class="primary" opacity="0.1"/>
    <ellipse cx="916.19" cy="643.96" rx="40.21" ry="6.8" class="primary"/>
    <path d="M960.82,756.58a11.64,11.64,0,0,0,3.83-5.79c.5-2.29-.48-5-2.68-5.89-2.46-.94-5.09.77-7.08,2.49s-4.28,3.69-6.88,3.32a10.5,10.5,0,0,0,3.24-9.81,4.12,4.12,0,0,0-.9-2c-1.37-1.46-3.84-.84-5.48.31-5.2,3.66-6.65,10.73-6.68,17.08-.52-2.29-.08-4.68-.09-7s-.66-5-2.65-6.23a7.91,7.91,0,0,0-4-.94c-2.33-.09-4.94.15-6.53,1.86-2,2.12-1.47,5.68.25,8s4.35,3.81,6.77,5.42a15,15,0,0,1,4.83,4.61,4.16,4.16,0,0,1,.36.83h14.66A40.77,40.77,0,0,0,960.82,756.58Z"
          transform="translate(-28 -123.74)" class="primary"/>
</svg>