{{!
  This file is part of VPL Code Challenges for Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_vplcc/activity_base

  VPL CC module activity base layout used by all templates displayed inside an activity.

  @author Photis Avrilionis
  @copyright 2020 Photis Avrilionis

  This software was developed with the support of the following organizations:
  - Université Grenoble Alpes
  - Institut Polytechnique de Grenoble
}}
{{< mod_vplcc/layout }}

    {{$ base_content }}

        {{> mod_vplcc/partials/navigation }}

        {{$ content }}{{/ content }}

    {{/ base_content }}

{{/ mod_vplcc/layout }}
